          <div class="container-fluid">
            <div class="row-fluid">
            	<div class="col-md-offset-1">
            		<!--h3> THIRTEEN WAYS OF LOOKING AT NCBS</h3-->
            		 <!--div class="dropdown open">
            		   <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            		   Curatorial Note
            		    <b class="caret"></b>
            		  </button>
            		 <div class="dropdown-menu" id="home-curatorial-note">
                        <p>Stories sometimes surface by bestowing significance on available material, willing them to become inflection points. The exhibit’s cover images – chipping off a wall that starts to take the shape of a bird, Braille paper used for field biology notes, biologists in mock ceremonial attire to mark the rite of passage for a phage genetics course – all illustrate that archival records can take upon an intriguing new life of their own. 13 Ways is a pilot exhibit that celebrates these multiple interpretations. Based on material in the Archives of the National Centre for Biological Sciences, it is built around multiple ways to reflect upon and assemble the history of the institution (paying homage to Wallace Stevens&#39; poem, Thirteen Ways of Looking at a Blackbird).</p>

                        <p>To navigate, browse the seven story themes and explore the six experimental storytelling widgets under the Sandbox icon. The exhibit brings to light a tangled history and unlikely journey, weaved by over 70 story tellers, over 600 photographs, official records, letters, and the occasional lab note.</p>
            		 </div>
            		 </div-->

            	</div>
            </div>
          



          </div>
          <div class="row-fluid">
            <div id="ephemera-container">
            </div>
          </div>
         
