div.content{
  
  height: 285px;
  width: 134px;
  /*border: 5px solid #000000;*/
  float: left;
  margin: 12px;
  text-align: center;


}
.content ul
{

  list-style-type: none;
}

.content li{
  margin: 15px 0;
}

/*.modal-header{
  border-bottom: none;
  padding: 15px;
  margin-top: -2px;
  margin-right: 25px;
  font-size: 50px;

}*/

.exhibit-logo{
  width: 80px;
}

.logo-responsive{
  padding: 15px;
  height: auto;
  margin-top: -15px;

}

.close{
  margin-right: 25px;
  font-size: 50px;
  margin-top: -2px;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;

}
