div.content{
  
  height: 285px;
  width: 134px;
  /*border: 5px solid #000000;*/
  float: left;
  margin: 12px;
  text-align: center;


}
.content ul
{

  list-style-type: none;
}

.content li{
  margin: 15px 0;
}
