<div class="container-fluid">
<div class="row-fluid">
<div class="text-center" >
      <div class="foot-temp">
        13 Ways | © 2017 Archives at NCBS | <a href="mailto:archives@ncbs.res.in">Contact us</a> | <a href="javascript:void(0)" onclick="Backbone.history.navigate('#/about',true); return false;">About</a> | <a id="menu-foot-target" type="button" class=""  
        href="menuModal" data-target="#menuModal" title="menu">Site Map</a>
      </div>  
 </div>
 <!-- Scroll to Top Template -->
 <div class="scrollHelper" id="scroller">
     
 </div>
</div>
</div>

<!--div class="well">
  <div class="pic" style="float: left; margin-right: 15px"><a href="<%= owner.blog %>"><img src="<%= owner.avatar_url %>" width="90" height="90" /></a></div>
  <div class="info">
  	<ul style="list-style: none;">
  		<li><p><%= owner.name %></p></li>
  		<li><p><%= owner.location %></p></li>
  		<li><p>Followers: <%= owner.followers %></p></li>
  	</ul>
  </div>
</div-->