 <nav class="navbar navbar-static-top" role="navigation">
       <div class="container-fluid">
                       <!-- Brand and toggle get grouped for better mobile display -->

                <div class="navbar-header">
                 <div class="navbar-toggle">
                  <a  type="button" class="navbar-toggle" id="menu-after-collapse" data-target="#menuModal">
                    <img src="imgs/menu/menu.svg"  class="img-responsive " style="width:50px;"/>
                     <span class="sr-only">Toggle navigation</span>

                  </a>
                    <!--button type="button" class="navbar-toggle btn btn-default btn-circle btn-lg" data-toggle="collapse" data-target="#ncbs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button-->

                    <!--button type="button" class="navbar-toggle " >
                    <div class="menu-right-item">
                        <a href="#/about" >
                         <img src="imgs/about/about.svg" class="img-responsive" style="width:50px;"/>
                       </a>
                     </div>
                   </button>
                
                       <div class="navbar-toggle">
                        <input type="text" placeholder="Search" id="search-form"/>
                      </div-->
                  
                  </div>
                    <!-- Brand and toggle get grouped for better mobile display -->
           <div class="logo-responsive ">
           

                 <a href=" " target="">  
                   <img src="imgs/menu/exhibit-logo.svg" class="exhibit-logo" />

                 </a>
                   
           </div>


                </div>


           <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse"  id="ncbs-navbar-collapse">
               <!--Menu-->           
               <ul class="nav navbar-nav">

                   <li>
                       <div class="dropdown text-center menu-item"> 
                        <a href="#/theme/identity/curatorial-note">
                            <img src="imgs/menu/identity.svg"  data-mouseout="imgs/menu/identity.svg" data-mousein="imgs/menu/identity-hover.svg" class="img-responsive"/>
                            <span>IDENTITY</span>
                        </a>

                      </div>
                    
                   </li>
                  
                    <li>
      
                        <div class="dropdown text-center menu-item">

                          <a href="#/theme/institution-building/curatorial-note">
                          <img src="imgs/menu/institution-building.svg" data-mouseout="imgs/menu/institution-building.svg" data-mousein="imgs/menu/institution-building-hover.svg" class="img-responsive" />

                          <span>INSTITUTION</span> <span>BUILDING</span>
                            </a>
                    </div>
                  
                   </li>
                  
                   <li>
                       
                        <div class="dropdown text-center menu-item">

                          <a href="#/theme/growth/curatorial-note">

                           <img src="imgs/menu/growth.svg"  class="img-responsive" data-mouseout="imgs/menu/growth.svg" data-mousein="imgs/menu/growth-hover.svg"/>
                           <span>GROWTH</span>
                            </a>
                       </div>
                    
                   </li>
                
                   <li >
                       
                        <div class="dropdown text-center menu-item">

                          <a href="#/theme/research/curatorial-note">

                          <img src="imgs/menu/research.svg" class="img-responsive" data-mouseout="imgs/menu/research.svg" data-mousein="imgs/menu/research-hover.svg"/>
                          <span>RESEARCH</span>
                           </a>
                      </div>
                   </li>
                
                   <li>
                       
                        <div class="dropdown text-center menu-item">

                          <a href="#/theme/education/curatorial-note">

                          <img src="imgs/menu/education.svg" class="img-responsive" data-mouseout="imgs/menu/education.svg" data-mousein="imgs/menu/education-hover.svg"/>
                          <span>EDUCATION</span>
                           </a>
                     </div>
                  
                   </li>
                
                   <li>
                       
                          <div class="dropdown text-center menu-item">

                            <a href="#/theme/ripple-effect/curatorial-note">

                            <img src="imgs/menu/ripple-effect.svg" class="img-responsive" data-mouseout="imgs/menu/ripple-effect.svg" data-mousein="imgs/menu/ripple-hover.svg" />
                            <span>RIPPLE</span> <span>EFFECT</span>
                            </a>
                      </div>
                 
                   </li>

      
                   <li>
                       
                        <div class="dropdown text-center menu-item">
                          <a href="#/theme/intersections/curatorial-note">
                          <img src="imgs/menu/intersections.svg" class="img-responsive" data-mouseout="imgs/menu/intersections.svg" data-mousein="imgs/menu/intersections-hover.svg"/>
                          <span>INTERSECTIONS</span>
                          </a>
                     </div>
                
                   </li>


                       <!--/ul>
                   </li-->

                   <!--Menu Sandbox-->
                   <li>
                    
                        <div class="text-center menu-item">
                          <a  class="" href="#/theme/sandbox/timeline/" >
                          <img src="imgs/menu/sandbox.svg" data-mouseout="imgs/menu/sandbox.svg" data-mousein="imgs/menu/sandbox-hover.svg"/>
                          <span>SANDBOX</span>
                          <!--b class="caret"></b-->
                          </a>
                     
                   
                       <!--ul class="dropdown-menu" >
                           <li>
                               <a href=" ">EPHEMERA</a>
                           </li>
                           <li class="divider"></li>
                           <li>
                               <a href="#/theme/sandbox/timeline/">
                               TIMELINE</a>
                           </li>
                           <li class="divider"></li>
                           <li>
                               <a href="#/theme/sandbox/space-tour/">SPACE TOUR</a>
                           </li>
                           <li class="divider"></li>

                           <li>
                               <a href="#/theme/sandbox/peopleplex/">
                               PEOPLEPLEX</a>
                           </li>
                           <li class="divider"></li>

                           <li>
                               <a href="#/theme/sandbox/oral_history/" target="_blank">
                               ORAL HISTORY</a>
                           </li>
                           <li class="divider"></li>
                           <li>
                               <a href="#/theme/sandbox/mosaic/" target="_blank">
                               MOSAIC TEMPLATE</a>
                           </li>



                       </ul-->
                   </li>

                    <!--Menu NCBS-->
                    <li class="">
                   <div class="menu-item menu-right-item">
                       <a href="#/about" title="about" >
                        <img src="imgs/menu/about.svg" class="img-responsive" style="width:50px;" data-mouseout="imgs/menu/about.svg" data-mousein="imgs/menu/about-hover.svg"/>
                      </a>
                    </div>
                   </li>

                    <li class="">
                         <div class="menu-item menu-right-item">
                        <a href="#" title="search">
                          <img src="imgs/menu/search.svg"  class="img-responsive " style="width:50px;" data-mouseout="imgs/menu/search.svg" data-mousein="imgs/menu/search-hover.svg"/>
                           

                        </a>
                      </div>
                      <!--div>
                       <input type="text" placeholder="Search" id="search-form"/>
                     </div>
                       <!--a href="#about" class="">SEARCH</a-->
                   </li>


                    <li>
                      <div class="menu-item menu-right-item">
                     <a id="menu-target" type="button" class=""  href="menuModal" data-target="#menuModal" title="menu">
                       <img src="imgs/menu/menu.svg"  class="img-responsive " style="width:50px;"  data-mouseout="imgs/menu/menu.svg" data-mousein="imgs/menu/menu-hover.svg"/>
                        <span class="sr-only">Toggle navigation</span>

                     </a>
                   </div>
                   </li>
                   
                   <li>
                  
                  </li>




               </ul>
             
               

               <!-- /.navbar-collapse -->
           </div>
           <div class="row">
       <div class="home-curatorial-note">
                  <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span>Curatorial</span>
                    <span> Note</span>
                     <b class="caret"></b>
                   </button>
                  <div class="dropdown-menu" id="home-curatorial-note">
                      <h1>13 Ways</h1>
                          <p>Stories sometimes surface by bestowing significance on available material, willing them to become inflection points. The exhibit’s changing cover images – chipping off a wall that finds new life as a bird, Braille paper used for field biology notes, ceremonial garb for a phage genetics course – all illustrate that records take upon intriguing paths in the stories we find and share. 13 Ways is a pilot exhibit that celebrates these multiple interpretations.</p>

                          <p>Based on material in the Archives of the National Centre for Biological Sciences, it is built around multiple ways to reflect upon and assemble the history of the institution (paying homage to Wallace Stevens' poem, Thirteen Ways of Looking at a Blackbird). The exhibit brings to light a tangled history and unlikely journey, weaved by over 70 story tellers, over 600 photographs, official records, letters, and the occasional lab note.</p>

                          <p>To navigate, browse the story themes and explore the experimental storytelling widgets under the Sandbox icon.</p>
                        
                  </div>
                  </div>
            </div>

            <div class="pull-right" id="menu-share-btn">
         
               <div class="dropdown">
                 <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                 <span>SHARE+</span>
            
                </button>
                <div class="dropdown-menu" >
                 <div class="sharethis-inline-share-buttons">
                  <div id="share-item">
                  </div>
                </div>
                  <!-- Dynamic component will be filled by views/components/socialShare.js 
                  SocialShare service -->
                </div>
              </div>
             
            </div>
   
  </div>

           <!-- /.container -->
            </div>      
       </div>
           
   </nav>

  
