 <nav class="navbar navbar-static-top" role="navigation">
       <div class="container-fluid">
                       <!-- Brand and toggle get grouped for better mobile display -->

                <div class="navbar-header">
                 <div class="navbar-toggle">
                  <a  type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ncbs-navbar-collapse">
                    <img src="imgs/menu/menu.svg"  class="img-responsive " style="width:50px;"/>
                     <span class="sr-only">Toggle navigation</span>

                  </a>
                    <!--button type="button" class="navbar-toggle btn btn-default btn-circle btn-lg" data-toggle="collapse" data-target="#ncbs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button-->

                    <!--button type="button" class="navbar-toggle " >
                    <div class="menu-right-item">
                        <a href="#/about" >
                         <img src="imgs/about/about.svg" class="img-responsive" style="width:50px;"/>
                       </a>
                     </div>
                   </button>
                
                       <div class="navbar-toggle">
                        <input type="text" placeholder="Search" id="search-form"/>
                      </div-->
                  
                  </div>
                    <!-- Brand and toggle get grouped for better mobile display -->
           <div class="logo-responsive ">
           

                 <a href="/" target="">  
                   <img src="imgs/menu/exhibit-logo.svg" class="exhibit-logo" />

                 </a>
                   
           </div>


                </div>


           <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse"  id="ncbs-navbar-collapse">
               <!--Menu-->           
               <ul class="nav navbar-nav" data-hover="dropdown" data-animations="zoomIn">

                   <li>
                       
                       <div class="dropdown text-center menu-item"  onmouseout="this.children[0].children[0].src='imgs/menu/identity.svg';"  onmouseover="this.children[0].children[0].src='imgs/menu/identity-hover.svg';" > 
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <img src="imgs/menu/identity.svg"  class="img-responsive "/>
                        <span>IDENTITY</span>
                          </a>
                          <ul class="dropdown-menu" >
                            <li><a href="#/theme/identity/curatorial-note">Curatorial Note</a></li>
                            <li class="divider"></li>
                            <li><a href="#/theme/identity/space-for-biology">Space for Biology</a></li>
                            <li class="divider"></li>
                            <li><a href="#/theme/identity/science-in-india">Science in India</a></li>
                            <li class="divider"></li>
                            <li><a href="#/theme/identity/recognition">Recognition</a></li>
                            <li class="divider"></li>
                            <li><a href="#/theme/identity/reflections">Reflections</a></li>
                          </ul>
                      </div>
                    
                   </li>
                  
                    <li>
      
                        <div class="dropdown text-center menu-item" onmouseout="this.children[0].children[0].src='imgs/menu/institution-building.svg';"  onmouseover="this.children[0].children[0].src='imgs/menu/institution-building-hover.svg';">
                          <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                          <img src="imgs/menu/institution-building.svg"  class="img-responsive " />
                          <span>INSTITUTION</span> <span>BUILDING</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-style" >
                              <li><a href=" #/theme/institution-building/curatorial-note">Curatorial Note</a></li>
                              <li class="divider"></li>
                              <li><a href="#/theme/institution-building/space-&-autonomy" data-toggle="dropdown" class="dropdown-toggle">Space & Autonomy</a></li>
                              <li class="divider"></li>
                              <li><a href="#/theme/institution-building/paper-trails">Paper Trails</a></li>
                              <li class="divider"></li>
                              <li><a href="#/theme/institution-building/architecture">Architecture</a></li>
                            </ul>
                    </div>
                  
                   </li>
                  
                   <li>
                       
                        <div class="dropdown text-center menu-item"  onmouseout="this.children[0].children[0].src='imgs/menu/growth.svg';"  onmouseover="this.children[0].children[0].src='imgs/menu/growth-hover.svg';">
                          <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                           <img src="imgs/menu/growth.svg"  class="img-responsive "/>
                           <span>GROWTH</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-style" >
                              <li><a href=" #/theme/growth/curatorial-note">Curatorial Note</a></li>
                              <li class="divider"></li>
                              <li><a href="#/theme/growth/hiring">Hiring</a></li>
                              <li class="divider"></li>
                              <li><a href="#/theme/growth/startups">Start-Ups</a></li>
                              <li class="divider"></li>
                              <li><a href="#/theme/growth/collaborations">Collaborations</a></li>
                              <li class="divider"></li>
                              <li><a href="#/theme/growth/student-selections">Student Selections</a></li>
                              <li class="divider"></li>
                               <li><a href="#/theme/growth/scaling">Scaling</a></li>
                            </ul>
                       </div>
                    
                   </li>
                
                   <li >
                       
                        <div class="dropdown text-center menu-item"  onmouseout="this.children[0].children[0].src='imgs/menu/research.svg';"  onmouseover="this.children[0].children[0].src='imgs/menu/research-hover.svg';">
                          <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                          <img src="imgs/menu/research.svg" class="img-responsive "/>
                          <span>RESEARCH</span>
                           </a>
                           <ul class="dropdown-menu dropdown-menu-style" >
                            <li><a href=" #/theme/research/curatorial-note">CURATORIAL NOTE</a></li>
                            <li class="divider"></li>
                             <li><a href="#/theme/research/basic-and-applied-toggle">BASIC AND APPLIED TOGGLE</a></li>
                             <li class="divider"></li>
                             <li><a href="#/theme/research/areas-and-shifts">AREAS AND SHIFTS</a></li>
                             <li class="divider"></li>
                             <li><a href="#/theme/research/processes">PROCESSES</a></li>
                             <li class="divider"></li>
                             <li><a href="#/theme/research/queries-and-tools">QUERIES AND TOOLS</a></li>
                           </ul>
                      </div>
                   </li>
                
                   <li>
                       
                        <div class="dropdown text-center menu-item"  onmouseover="this.children[0].children[0].src='imgs/menu/education-hover.svg';" onmouseout="this.children[0].children[0].src='imgs/menu/education.svg';">
                          <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                          <img src="imgs/menu/education.svg" class="img-responsive"/>
                          <span>EDUCATION</span>
                           </a>
                           <ul class="dropdown-menu dropdown-menu-style" >
                            <li><a href=" #/theme/education/curatorial-note">CURATORIAL NOTE</a></li>
                            <li class="divider"></li>
                             <li><a href="#/theme/education/building-knowledge">BUILDING KNOWLEDGE</a></li>
                             <li class="divider"></li>
                             <li>
                             <a href="#/theme/education/mentorship">
                             MENTORSHIP</a>
                             </li>   
                     
                           </ul>
                     </div>
                  
                   </li>
                
                   <li>
                       
                          <div class="dropdown text-center menu-item" onmouseout="this.children[0].children[0].src='imgs/menu/ripple-effect.svg';"  onmouseover="this.children[0].children[0].src='imgs/menu/ripple-hover.svg';">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            <img src="imgs/menu/ripple-effect.svg" class="img-responsive" />
                            <span>RIPPLE</span> <span>EFFECT</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-style" >
                              <li><a href=" #/theme/ripple-effect/curatorial-note">CURATORIAL NOTE</a></li>
                              <li class="divider"></li>
                              <li ><a href="#/theme/ripple-effect/effects-and-toll">EFFECTS AND TOLL</a></li>
                              <li class="divider"></li>
                              <li><a href="#/theme/ripple-effect/interaction-and-isolation">INTERACTION AND ISOLATION</a></li>
                            </ul>
                      </div>
                 
                   </li>

      
                   <li>
                       
                        <div class="dropdown text-center menu-item"  onmouseover="this.children[0].children[0].src='imgs/menu/intersections-hover.svg';" onmouseout="this.children[0].children[0].src='imgs/menu/intersections.svg';">
                          <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                          <img src="imgs/menu/intersections.svg" class="img-responsive "/>
                          <span>INTERSECTIONS</span>
                          </a>
                          <ul class="dropdown-menu dropdown-menu-style" >
                            <li><a href=" #/theme/intersections/curatorial-note">CURATORIAL NOTE</a></li>
                            <li class="divider"></li>
                            <li><a href="#/theme/intersections/gender-equality">GENDER EQUALITY</a></li>
                            <li class="divider"></li>
                            <li><a href="#/theme/intersections/hierarchy-&-class">HEIRARCHY & CLASS</a></li>
                            <li class="divider"></li>
                            <li><a href="#/theme/intersections/ncbs-community">NCBS COMMUNITY</a></li>
                            <li class="divider"></li>
                            <li><a href="#/theme/intersections/outside-world">OUTSIDE WORLD</a></li>
                          </ul>
                     </div>
                
                   </li>


                       <!--/ul>
                   </li-->

                   <!--Menu Sandbox-->
                   <li>
                    
                        <div class="dropdown text-center menu-item"  onmouseover="this.children[0].children[0].src='imgs/menu/sandbox-hover.svg';" onmouseout="this.children[0].children[0].src='imgs/menu/sandbox.svg';">
                          <a  class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="imgs/menu/sandbox.svg" />
                          <span>SANDBOX</span>
                          <!--b class="caret"></b-->
                          </a>
                     
                   
                       <ul class="dropdown-menu" >
                           <li>
                               <a href="https://www.ncbs.res.in/ncbs25/sandbox/ephemera" target="_blank">Ephemera</a>
                           </li>
                           <li class="divider"></li>
                           <li>
                               <a href="https://www.ncbs.res.in/ncbs25/sandbox/peopleplex/" target="_blank">
                               Peopleplex</a>
                           </li>
                           <li class="divider"></li>
                           <li>
                               <a href="https://www.ncbs.res.in/ncbs25/sandbox/space_tour/" target="_blank">Space Tour</a>
                           </li>
                           <li class="divider"></li>
                           <li>
                               <a href="https://www.ncbs.res.in/ncbs25/sandbox/timeline/" target="_blank">
                               Timeline</a>
                           </li>
                           <li class="divider"></li>

                           <li>
                               <a href="https://www.ncbs.res.in/ncbs25/sandbox/oral_history/" target="_blank">
                               Oral History</a>
                           </li>
                           <li class="divider"></li>
                           <li>
                               <a href="https://www.ncbs.res.in/ncbs25/sandbox/mosaic/" target="_blank">
                               Mosaic Template</a>
                           </li>



                       </ul>
                   </li>

                    <!--Menu NCBS-->
                    <li class="">
                   <div class="menu-item menu-right-item" onmouseover="this.children[0].children[0].src='imgs/menu/about-hover.svg';" onmouseout="this.children[0].children[0].src='imgs/menu/about.svg';">
                       <a href="#/about" >
                        <img src="imgs/menu/about.svg" class="img-responsive" style="width:50px;"/>
                      </a>
                    </div>
                   </li>

                    <li class="">
                         <div class="menu-item menu-right-item" onmouseover="this.children[0].children[0].src='imgs/menu/search-hover.svg';" onmouseout="this.children[0].children[0].src='imgs/menu/search.svg';">
                        <a href="#">
                          <img src="imgs/menu/search.svg"  class="img-responsive " style="width:50px;"/>
                           

                        </a>
                      </div>
                      <!--div>
                       <input type="text" placeholder="Search" id="search-form"/>
                     </div>
                       <!--a href="#about" class="">SEARCH</a-->
                   </li>
            
                    <li>
                      <div class="menu-item menu-right-item" onmouseover="this.children[0].children[0].src='imgs/menu/menu-hover.svg';" onmouseout="this.children[0].children[0].src='imgs/menu/menu.svg';">
                     <a  type="button" class="" data-toggle="collapse" data-target="#ncbs-navbar-collapse">
                       <img src="imgs/menu/menu.svg"  class="img-responsive " style="width:50px;"/>
                        <span class="sr-only">Toggle navigation</span>

                     </a>
                   </div>
                   </li>


               </ul>
             
               

               <!-- /.navbar-collapse -->
           </div>
      <div class="home-curatorial-note">
                  <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span>Curatorial</span>
                    <span> Note</span>
                     <b class="caret"></b>
                   </button>
                  <div class="dropdown-menu" id="home-curatorial-note">
                         <p>Stories sometimes surface by bestowing significance on available material, willing them to become inflection points. The exhibit’s cover images – chipping off a wall that starts to take the shape of a bird, Braille paper used for field biology notes, biologists in mock ceremonial attire to mark the rite of passage for a phage genetics course – all illustrate that archival records can take upon an intriguing new life of their own. 13 Ways is a pilot exhibit that celebrates these multiple interpretations. Based on material in the Archives of the National Centre for Biological Sciences, it is built around multiple ways to reflect upon and assemble the history of the institution (paying homage to Wallace Stevens&#39; poem, Thirteen Ways of Looking at a Blackbird).</p>

                         <p>To navigate, browse the seven story themes and explore the six experimental storytelling widgets under the Sandbox icon. The exhibit brings to light a tangled history and unlikely journey, weaved by over 70 story tellers, over 600 photographs, official records, letters, and the occasional lab note.</p>
                  </div>
                  </div>
    </div>

           <!-- /.container -->
            </div>      
       </div>
           
   </nav>

  