  <div class="container-fluid">
 

    <ul  class="nav nav-pills" data-tabs="tabs">
        <li class="active"><a href="#peopleplex" data-toggle="tab">PEOPLEPLEX</a></li>
        <li><a href="#space-tour" data-toggle="tab">SPACE TOUR</a></li>
        <li><a href="#timeline" data-toggle="tab">TIMELINE</a></li>
        <li><a href="#oral-histroy" data-toggle="tab">ORAL HISTROY</a></li>
        <li><a href="#mosaic-template" data-toggle="tab">MOSAIC TEMPLATE</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="peopleplex">
        	<div class="row">
        		<div class="col-md-9">
        		    <p>Peopleplex is an echo chamber filled with interview excerpts of people involved in the early days of NCBS and those interviewed for this exhibit. Click on a node to find out more. Future developments will make meaningful linkages between the nodes.</p>
        		</div>
        	</div>
        	<div class="row">
		        <iframe src="http://archives.ncbs.res.in/exhibit/13ways/sandbox/ncbs-peopleplex/#/[10]156/0/0" width="100%"></iframe>
		    </div>
        </div>
        <div class="tab-pane" id="space-tour">
        	<div class="row">
        		<div class="col-md-9">
        			<h4>Space Tour</h4> offers a mash-up of oral histories, archival documents and contemporary spatial mapping techniques. The current tour is Obaid Siddiqi's office and lab, with the memories of Deepti Trivedi, a former student. Click on the information icon and arrows to navigate. Future developments will layer other people's memories and will be tours of other places.
        		</div>
        		<div class="col-md-12">
        			<iframe src="http://archives.ncbs.res.in/exhibit/13ways/sandbox/ncbs-space-tour" width="100%"></iframe>
        		</div>
        	</div>
        </div>
        	
         		
     

        <div class="tab-pane" id="timeline">
            <iframe src="" style="width:1100px;height:600px";></iframe>
        </div>

        <div class="tab-pane" id="oral-histroy">
            <iframe src="http://archives.ncbs.res.in/exhibit/13ways/sandbox/ncbs-oral-history/" width="100%"></iframe>
        </div>
        <div class="tab-pane" id="mosaic-template">
            <iframe src="https://www.ncbs.res.in/ncbs25/sandbox/mosaic/" style="width:1100px;height:600px";></iframe>

        </div>
</div>
