  <div class="container-fluid">
 

    <ul  class="nav nav-pills" data-tabs="tabs">
    	<li class=""><a href="#timeline" data-toggle="tab">TIMELINE</a></li>
        <li><a href="#space-tour" data-toggle="tab">SPACE TOUR</a></li>
        <li><a href="#peopleplex" data-toggle="tab">PEOPLEPLEX</a></li>
        <li><a href="#oral-histroy" data-toggle="tab">ORAL HISTROY</a></li>
        <li><a href="#mosaic-template" data-toggle="tab">MOSAIC TEMPLATE</a></li>
    </ul>
    <div class="tab-content">

    	        <div class="tab-pane " id="timeline">
    	        	<div class="row">
    	        		<div class="col-md-9">
    	        			<p>Timeline’s an experimental visual tool to chronicle a series of events, charting out about 140 events relevant to the history of biology in TIFR/NCBS, from 1944 to today. Scan event by event using the main arrows, or jump across the decades using the timeline at the bottom of the screen. The events are not fully representative of the NCBS history -- it's work in progress. This particular timeline is also heavily dotted with instances from Obaid Siddiqi's life since that is the most complete dataset we have access to right now. In future versions, it will get populated with more representative events, and more threads from other individual stories to form a multi-threaded timeline.

    						</p>
    	        		</div>
    	        		<!-- Embedding Timeline -->
    	        		<div >
    	            		<iframe src="" allowfullscreen="allowFullScreen" frameborder="0" data-src="http://archives.ncbs.res.in/exhibit/13ways/sandbox/ncbs-timeline/"></iframe>
    	            	</div>
    	            </div>
    	            <!-- End row -->
    	        </div>
    	        <!-- End Tab pane -->


        <div class="tab-pane" id="space-tour">
        	
	        	<div class="row">
	        		<div class="col-md-9">
	        			<p>Space Tour offers a mash-up of oral histories, archival documents and contemporary spatial mapping techniques. The current tour is Obaid Siddiqi's office and lab, with the memories of Deepti Trivedi, a former student. Click on the information icon and arrows to navigate. Future developments will layer other people's memories and will be tours of other places.</p>
	        		</div>
	        		<!-- Embedding the space tour -->
	        			<iframe src="" data-src="http://archives.ncbs.res.in/exhibit/13ways/sandbox/ncbs-space-tour" width="100%"></iframe>
	        		
	        	</div>
				<!-- End row -->
        </div>
		<!-- End Tab pane -->
         		
     

        <div class="tab-pane" id="peopleplex">
        	<div class="row">
        		<div class="col-md-9">
        		    <p>Peopleplex is an echo chamber filled with interview excerpts of people involved in the early days of NCBS and those interviewed for this exhibit. Click on a node to find out more. Future developments will make meaningful linkages between the nodes.</p>
        		</div>
        	</div>
        	<!-- End row -->

        	<div class="row">
		        <iframe src="" data-src="http://archives.ncbs.res.in/exhibit/13ways/sandbox/ncbs-peopleplex/#/[10]156/0/0" width="100%"></iframe>
		    </div>
		    <!-- End row -->

        </div>
<!-- End Tab pane -->


    

        <div class="tab-pane" id="oral-histroy">
            <iframe src="" data-src="http://archives.ncbs.res.in/exhibit/13ways/sandbox/ncbs-oral-history/" style= "height:780vh;" ></iframe>
        </div>
        <div class="tab-pane" id="mosaic-template">
         	<h2> COMING SOON ! </h2>

        </div>
</div>
