  <div class="container-fluid">
 

    <ul  class="nav nav-pills" data-tabs="tabs">
    	<li class=""><a href="#introduction" data-toggle="tab">INTRODUCTION</a></li>
        <li><a href="#timeline" data-toggle="tab">TIMELINE</a></li>
        <li><a href="#space-tour" data-toggle="tab">SPACE TOUR</a></li>
        <li><a href="#peopleplex" data-toggle="tab">PEOPLEPLEX</a></li>
        <li><a href="#oral-histroy" data-toggle="tab">ORAL HISTORY</a></li>
        <li><a href="#mosaic-template" data-toggle="tab">MOSAIC TEMPLATE</a></li>
    </ul>
    <div class="tab-content">

    	                <div class="tab-pane " id="introduction">
                            <div class="row">
                                <div class="col-md-9">
                                <h3>TIMELINE</h3>
                                    <p>Timeline’s an experimental visual tool to chronicle a series of events, charting out about 140 events relevant to the history of biology in TIFR/NCBS, from 1944 to today. Scan event by event using the main arrows, or jump across the decades using the timeline at the bottom of the screen. The events are not fully representative of the NCBS history -- it's work in progress. This particular timeline is also heavily dotted with instances from Obaid Siddiqi's life since that is the most complete dataset we have access to right now. In future versions, it will get populated with more representative events, and more threads from other individual stories to form a multi-threaded timeline.</p><a href="#/theme/sandbox/timeline/"> See more...</a>

                                </div>
                                <!-- Embedding Timeline -->
                                <div class="col-md-9">
                                    <h3>SPACE TOUR</h3>
                                        <p>Space Tour offers a mash-up of oral histories, archival documents and contemporary spatial mapping techniques. The current tour is Obaid Siddiqi's office and lab, with the memories of Deepti Trivedi, a former student. Click on the information icon and arrows to navigate. Future developments will layer other people's memories and will be tours of other places.</p><a href="#/theme/sandbox/space-tour/"> See more...</a>
                                </div>

                                <div class="col-md-9">
                                    <h3>PEOPLEPLEX</h3>
                                    <p>Peopleplex is an echo chamber filled with interview excerpts of people involved in the early days of NCBS and those interviewed for this exhibit. Click on a node to find out more. Future developments will make meaningful linkages between the nodes.</p><a href="#/theme/sandbox/peopleplex/"> See more...</a>
                                </div>

                                <div class="col-md-9">
                                    <h3>ORAL HISTORY</h3>
                                    <p>Oral History Metadata Synchronizer is a widget to synchronize an interview transcript with the original oral history interview. Click on the timestamps to go directly to particular sections. In future versions of this widget, one could edit the transcript and encode annotations into an audio file. This is a sample of an interview of Obaid Siddiqi conducted by Indira Chowdhury where he discusses his entry into neurobiology.</p><a href="#/theme/sandbox/oral-histroy/"> See more...</a>
                                </div>

                                <div class="col-md-9">
                                    <h3>EPHEMERA</h3>
                                    <p>Every screen refresh brings up a different image from across the history of NCBS, TIFR and their connected communities</p>
                                    <p><img src="./imgs/Ephemera/ephemera.jpg"></p>
                                    <a href="#/theme/sandbox/oral-histroy/"> See more...</a>
                                </div>

                                <div class="col-md-9">
                                   <!-- <h3>MOSAIC TEMPLATE</h3-->
                                </div>
                            </div>
                            <!-- End row -->
                        </div>
                        <!-- End Tab pane -->

                <div class="tab-pane " id="timeline">
    	        	<div class="row">
    	        		<!-- Embedding Timeline -->
    	        		<div >
    	            		<iframe src="" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" frameborder="0" data-src="http://archives.ncbs.res.in/exhibit/13ways/sandbox/ncbs-timeline/"></iframe>
    	            	</div>
    	            </div>
    	            <!-- End row -->
    	        </div>
    	        <!-- End Tab pane -->


        <div class="tab-pane" id="space-tour">
        	
	        	<div class="row">
	        		<!-- Embedding the space tour -->
	        			<iframe src="" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" data-src="http://archives.ncbs.res.in/exhibit/13ways/sandbox/ncbs-space-tour" width="100%"></iframe>
	        		
	        	</div>
				<!-- End row -->
        </div>
		<!-- End Tab pane -->
         		
     

        <div class="tab-pane" id="peopleplex">
        	<div class="row">
        	</div>
        	<!-- End row -->

        	<div class="row">
		        <iframe src="" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" data-src="http://archives.ncbs.res.in/exhibit/13ways/sandbox/ncbs-peopleplex/#/[10]156/0/0" width="100%"></iframe>
		    </div>
		    <!-- End row -->

        </div>
<!-- End Tab pane -->


    

        <div class="tab-pane" id="oral-histroy">
            <div class="row">
            </div>
            <iframe src="" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" data-src="http://archives.ncbs.res.in/exhibit/13ways/sandbox/ncbs-oral-history/" style= "height:780vh;" ></iframe>
        </div>
        <div class="tab-pane" id="mosaic-template">
         	<h2> COMING SOON ! </h2>

        </div>
</div>
