<div class="global-audio-player" >
<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>

<audio controls autoplay class="center-block" style="width:100%; padding-left: 15px; padding-right: 15px;">
  <%if(original){%>
  <source src="<%=original%>" type="audio/mpeg">
  <%}else{%>
  	<source src="<%=src%>" type="audio/mpeg">
  	<%}%>
Your browser does not support the audio element.
</audio>
</div>
<div class="audio-caption-fixed">
<marquee behavior="scroll" direction="left" onmouseover="this.setAttribute('scrollamount', 0.01, 0);" onmouseout="this.setAttribute('scrollamount', 5, 0);">
<span><%=description %></span>
<em><%=rights %></em>
</marquee>
</div>