  <div class="container-fluid">
 

    <ul class="nav nav-pills theme-pills" data-tabs="tabs">
        <li class="active"><a href="#curatorial-note" data-toggle="tab">INTRODUCTION</a></li>
        <li><a href="#building-knowledge" data-toggle="tab">BUILDING KNOWLEDGE</a></li>
        <li><a href="#mentorship" data-toggle="tab">MENTORSHIP</a></li>
    </ul>
    
      <div class="tab-content">
          <div class="tab-pane active" id="curatorial-note">
          <div class="row">
            <div class="col-md-9">
               <p><span class="start-text">W</span>hen TIFR started in 1945, it was to set up a place to do fundamental research in physics, not so much to teach physics. However, over the years, it did take in students. The early ones did research at the Institute while getting their PhDs from other universities. The Education theme looks at the post-graduate life in biology across the decades.</p>      
             
             <p>Why do a PhD and why teach? What is the purpose of a place like NCBS, as it keeps evolving? And what after the PhD? The Building Knowledge chapter peeks into the structure and history of certain courses, what senior faculty thought of the life after their PhDs to be, and what students think of today. It also picks apart the perceived disconnect between college and post-graduate life in India.</p>  

             <p>Any interaction is an education, more so within a research institution. The Mentorship chapter is about that transmission of knowledge. It collects views on four faculty members: Veronica Rodrigues, PK Maitra, Obaid Siddiqi and KS Krishnan. In some form or the other, the four have been repeatedly viewed as mentors by students, faculty and staff at TIFR and NCBS.</p>

            </div>
          </div>
        </div>

          <div class="tab-pane" id="building-knowledge">
            <div class="row">
              <div class="col-md-4">
            

            <p> <span class="start-text">I</span>n the mid 1970s, P Balaram didn’t land in India with huge research aspirations. He had just finished his PhD and post doctoral work in the United States. What he needed above anything else was a job, a teaching job. In that, he wasn’t unique. That was the climate. P Balaram, a retired professor and former director at IISc, finds it hard to explain that to people today. For instance, when he had to jot down his profession on an application, he wrote ‘teacher’. “We were lecturers who lectured, and presumably professors who professed,” he said. In the featured interview clip, P Balaram narrates his views on teaching and its effects on his own research. <span data-tag="5-Knowledge-A1" data-component="audio">Loading...</span></p></div>

            <div class="col-md-4">
            <span data-tag="5-Knowledge-P1" data-component="image" >Loading...</span>
            </div>
            </div>
            <div class="col-md-9">
            <p> The 1990-92 NCBS proposal make the Centre’s purpose fairly clear: “The principle aim of the Centre is basic research in biology. The research programmes of the Centre encompass modern biology and biotechnology. Special stress is being laid on molecular biology, genetics and cell biology and on the application of biotechnological methods to fundamental research on higher animals and plants.” NCBS was to be a research centre, first and foremost. And while the next paragraph does say that the “Centre will conduct an active teaching and training programme”, it is mentioned as a corollary to research.</p>

            <p> There might be a slight reversal of roles today. In June 2016, a faculty member at NCBS was asked by a visitor to campus about her profession and what NCBS did. Teaching, said the faculty member. They taught graduate students. Research was not the first thing she said. That broader view of NCBS’ purpose today is one that is partly echoed by Mukund Thattai, a faculty member at NCBS. Hear his interview clip where he shares his thoughts on how NCBS should be measured. <span data-tag="5-Knowledge-A5" data-component="audio">Loading...</span></p></div>

            <div class="row">
            <div class="col-md-5">
            <p> It’s worth looking at this education paradigm from the other side, too. Why do a PhD? Saurabh Mahajan, a current PhD student, shares his reasons in his interview. Again, one sees the teaching sentiment echoed. <span data-tag="5-Knowledge-A2" data-component="audio">Loading...</span> Setting up a graduate programme was one of the biggest changes at TIFR, stressed Sudhanshu Jha, former director of TIFR, in an interview earlier this year. It ensured a system that is dependent not on a particular specialized discipline that may fade away over time, but on the broader understanding of a science fed by younger students who can challenge the dogma. It ensured the longevity of the institute. “I was quite convinced right from the beginning, that an institute structure doesn’t last for a long time anywhere in the world,” he said. “But the university structure has lasted for centuries.”</p></div>

            <div class="col-md-4">
            <span data-tag="5-Knowledge-PS1" data-component="slide" >Loading...</span></div>
            </div>

            <div class="row">
            <div class="col-md-5">

            <p> NCBS has had a pretty rigorous course structure since it began. In November 1995, MK Mathew, a faculty member at NCBS, shared the guidelines to graduate work at NCBS at a steering committee meeting. It included plans for coursework, and check systems for students on their path to getting a PhD, including comprehensive exams and thesis defence. These are shown in the audio slideshow below. Along with Jayant Udgaonkar, another NCBS faculty member, Mathew has been teaching a biochemistry course since 1992. It has gained quite a bit of notoriety in the student population over the years. In the audio excerpt, he shares some stories from the course, and why he thinks students might be scared of the course. <span data-tag="5-Knowledge-A0" data-component="audio">Loading...</span> </p>
            </div>

            <div class="col-md-4">
            <span data-tag="5-Knowledge-PS4" data-component="slide">Loading...</span>
            </div>
            </div>

            <div class="row">
            <div class="col-md-5">
            <p> Another aspect to probe is the connection between a graduate research institute like NCBS and the research-world experience of incoming students. NCBS does not exist in isolation. Students coming into the Centre come from colleges across the country, and with, few exceptions, minimal exposure to a research environment. There is a disconnect between an NCBS and the system where it recruits students from. This is a broader failure of the Indian scientific community in the natural sciences, says Satyajit Rath, a faculty member at the National Institute of Immunology (NII). Listen to his interview clip where he assesses the connections between places like NCBS and NII to undergraduate teaching centres. <span data-tag="5-Knowledge-A4" data-component="audio">Loading...</span> Also see the documentary excerpt below on what Vidita Vaidya, a TIFR faculty member, thinks could be a good way to go beyond TIFR and extend Homi Bhabha’s legacy.</p></div>
            <div class="col-md-4">
            <span data-tag="5-Knowledge-V1" data-component="video" >
              <div class="">
                <video style="width:100%;" class="center-block" controls="" preload="metadata" name="media"><source src="https://www.ncbs.res.in/ncbs25/omeka/files/original/9c303e795bc8627863aa91972ccead36.mp4"></video>
            </div>
          
              <div class="featured-img-caption">
                <span>The need to connect with college-level students - Vidita Vaidya</span>
              <em>Films Division of India / TIFR Archives</em>  
              </div>
            </span>
            </div>
            </div>

            <div class="row">
            <div class="col-md-4">
            <p> Which leaves us with the question, what after the PhD. The question is vast, but it is a pressing one for many students entering the system. The unsaid assumption has always been the academic career path. But that’s not always possible. There just aren’t enough such positions. It’s not a question that NCBS focused its attention on in the first two decades, says L Shashidhara, an early post doctoral researcher at NCBS and current IISER faculty member. He adds that the what-after-PhD quandary is a failure of all institutions. In his interview, Shashidhara shares some of the ways in which his institute, IISER, is trying to address this issue. <span data-tag="5-Knowledge-A3" data-component="audio">Loading . . .</span></p></div>
            <div class="col-md-4">
          <span data-tag="5-Knowledge-PS2" data-component="slide" >Loading...</span>
          </div>
          </div>
          <div class="col-md-9">
          <p> For more, check out the Gallery where students and faculty share views on plagiarism in Indian science, on the history of coursework at NCBS, on childhood inflection points toward science, on student selection processes, and on finding the right match of student and area of research.  </p>         
          <!--Gallery-->
          <div>
            <h3 class="text-center">GALLERY</h3>
            <!--<a class="btn btn-success center-block gallery-btn" role="button" data-toggle="collapse" href="#1-gallery" aria-expanded="false" aria-controls="1-gallery">GALLERY</a>-->

            <div class="in" id="1-gallery" style="height: auto;">
            <div class="audio-gallery-item col-sm-3" style="height:200px; overflow:hidden; margin-top:5px;">
            <img src="imgs/components/small-sound.svg" onmouseover="this.src='imgs/components/small-sound-hover.svg';" onmouseout="this.src='imgs/components/small-sound.svg';" class="audio-icon">
            <span>Aditi Bhattacharya, research scientist and former student: On her experiences with coursework as a graduate student in the early 2000s</span>
            </div>

            <div class="audio-gallery-item col-sm-3" style="height:200px; overflow:hidden; margin-top:5px;">
            <img src="imgs/components/small-sound.svg" onmouseover="this.src='imgs/components/small-sound-hover.svg';" onmouseout="this.src='imgs/components/small-sound.svg';" class="audio-icon">
            <span>Deepti Trivedi, technology scientist at NCBS and former student: On the move from Delhi University to NCBS for graduate work and a feeling of being overwhelmed.</span>
            </div>

            <div class="audio-gallery-item col-sm-3" style="height:200px; overflow:hidden; margin-top:5px;">
            <img src="imgs/components/small-sound.svg" onmouseover="this.src='imgs/components/small-sound-hover.svg';" onmouseout="this.src='imgs/components/small-sound.svg';" class="audio-icon">
            <span>Gaiti Hasan, faculty member at NCBS: On a summer spent at TIFR in the 1970s, and the process of being initiated into research.</span>
            </div>

            <div class="audio-gallery-item col-sm-3" style="height:200px; overflow:hidden; margin-top:5px;">
            <img src="imgs/components/small-sound.svg" onmouseover="this.src='imgs/components/small-sound-hover.svg';" onmouseout="this.src='imgs/components/small-sound.svg';" class="audio-icon">
            <span>Jayant Udgaonkar, faculty member at NCBS: On the need for coursework and his push to build an academic programme (with MK Mathew) at NCBS</span>
            </div>

            <div class="audio-gallery-item col-sm-3" style="height:200px; overflow:hidden; margin-top:5px;">
            <img src="imgs/components/small-sound.svg" onmouseover="this.src='imgs/components/small-sound-hover.svg';" onmouseout="this.src='imgs/components/small-sound.svg';" class="audio-icon">
            <span>H Krishnamurthy, scientific officer and head of imaging/cytometry, NCBS: On pushing his technical staff to enter into degree programs while working.</span>
            </div>

            <div class="audio-gallery-item col-sm-3" style="height:200px; overflow:hidden; margin-top:5px;">
            <img src="imgs/components/small-sound.svg" onmouseover="this.src='imgs/components/small-sound-hover.svg';" onmouseout="this.src='imgs/components/small-sound.svg';" class="audio-icon">
            <span>MK Mathew, faculty member at NCBS: On selection of students, and, for instance, finding people suitable for particulars of working with an electrophysiology rig.</span>
            </div>

            <div class="audio-gallery-item col-sm-3" style="height:200px; overflow:hidden; margin-top:5px;">
            <img src="imgs/components/small-sound.svg" onmouseover="this.src='imgs/components/small-sound-hover.svg';" onmouseout="this.src='imgs/components/small-sound.svg';" class="audio-icon">
            <span>Sudhir Krishna, faculty member at NCBS: The education model in India and the cracks between research and medicine.</span>
            </div>

            <div class="audio-gallery-item col-sm-3" style="height:200px; overflow:hidden; margin-top:5px;">
            <img src="imgs/components/small-sound.svg" onmouseover="this.src='imgs/components/small-sound-hover.svg';" onmouseout="this.src='imgs/components/small-sound.svg';" class="audio-icon">
            <span>Govind Swarup, former faculty member at TIFR: On the need to integrate engineering and science education for students, and the potential of the IISER model.</span>
            </div>

            <div class="audio-gallery-item col-sm-3" style="height:200px; overflow:hidden; margin-top:5px;">
            <img src="imgs/components/small-sound.svg" onmouseover="this.src='imgs/components/small-sound-hover.svg';" onmouseout="this.src='imgs/components/small-sound.svg';" class="audio-icon">
            <span>Govind Swarup, former faculty member at TIFR: The thought process behind selecting students in TIFR interviews.</span>
            </div>

            <div class="audio-gallery-item col-sm-3" style="height:200px; overflow:hidden; margin-top:5px;">
            <img src="imgs/components/small-sound.svg" onmouseover="this.src='imgs/components/small-sound-hover.svg';" onmouseout="this.src='imgs/components/small-sound.svg';" class="audio-icon">
            <span>Taslimarif Saiyed, former NCBS student and current director, C-CAMP: On the benefits of C-CAMP in the learning trajectory of a student at NCBS.</span>
            </div>

            <div class="audio-gallery-item col-sm-3" style="height:200px; overflow:hidden; margin-top:5px;">
            <img src="imgs/components/small-sound.svg" onmouseover="this.src='imgs/components/small-sound-hover.svg';" onmouseout="this.src='imgs/components/small-sound.svg';" class="audio-icon">
            <span>Upinder Bhalla, faculty member at NCBS: A childhood encounter with Obaid Siddiqi, and an early dislike for biology.</span>
            </div>

            <div class="audio-gallery-item col-sm-3" style="height:200px; overflow:hidden; margin-top:5px;">
            <img src="imgs/components/small-sound.svg" onmouseover="this.src='imgs/components/small-sound-hover.svg';" onmouseout="this.src='imgs/components/small-sound.svg';" class="audio-icon">
            <span>Mukund Thattai, a 'Young Investigator' NCBS hire and current faculty member: On teaching an ethics course at NCBS, and on one of the biggest issues facing Indian science</span>
            </div>

            <div class="img-gallery-item col-sm-3">
            <img src="https://www.ncbs.res.in/ncbs25/omeka/files/square_thumbnails/eb73754edfa0b1e6bbcfc0935fc2f76d.jpg" data-high-res-src="https://www.ncbs.res.in/ncbs25/omeka/files/original/eb73754edfa0b1e6bbcfc0935fc2f76d.jpg" class="img-responsive pannable">
            </div>
            </div>
          </div>
          <!--Gallery-Ends-->

          </div>
          </div>
       



          <div class="tab-pane" id="mentorship">
            <div class="row">
              <div class="col-md-5">
              
              <p> <span class="start-text">T</span>he lab notebook from 2008 that KS Madhumala is flipping through looks more like a printed book that just happens to be in a cursive font on ruled pages. Blemishes are really hard to come by. The first note from November 8, 2008: “CS and rut2080 exposed to 20 % EB and paraffin oil”. A control, wild type Drosophila, and rut2080, a Drosophila mutant, are exposed to (E)thyl (B)utyrate. “Volume measurement is in progress,” it says, in the present tense. One gets the sense that the notebook is a transcript of her lab work. KS Madhumala, an NCBS post doctoral researcher, keeps flipping past the pages. It occurs to her, then, that one of the reasons Veronica Rodrigues, an NCBS faculty member at the time, took her on as a student was because of her lab notes. Rodrigues was obsessed about note taking, she says. <span data-tag="5-Mentor-A1" data-component="audio">Loading...</span></p></div>
              <div class="col-md-4">
              <span data-tag="5-Mentor-P1" data-component="image">Loading...</span></div>
              </div>

              <div class="col-md-9">
              <p> Mitradas Panicker, an NCBS faculty member, remembers the time he spent as a summer student at TIFR in PK Maitra’s lab as a transformative one. <span data-tag="5-Mentor-A4" data-component="audio">Loading...</span> Jayant Udgaonkar, another NCBS faculty member, also regards Maitra as an early inspiration. “Professor Maitra had a deep impact on me in terms of his intellect, his enthusiasm for science,” he says in an interview earlier this year.</p>
              <p> Taslimarif Saiyed laughs when he remembers Obaid Siddiqi’s dislike for Excel. Graphs were to be plotted by hand in the early 2000s, when he was a student in Siddiqi’s lab. This was graduate research. But Siddiqi would teach him how to hold a pencil, Saiyed says. Just so Saiyed could draw curves better. That Siddiqi was fastidious was fairly legendary. But there was some method in this particular madness. This was about getting a feel of a trend, about getting the most meaningful understanding of, in this case, behaviour of Drosophila. <span data-tag="5-Mentor-A2" data-component="audio">Loading...</span></p></div>

              <div class="row">
              <div class="col-md-4">
              <p> Vidita Vaidya, a TIFR faculty member, is just grateful there was someone like KS Krishnan when she joined TIFR. It was like being “taken under his wing”, she says. In a separate conversation, Maithreyi Narasimha, another TIFR faculty member, utters exactly the same words. “Krishnan just gave me half his equipment,” says Vaidya. “A large part of (my) first year was just walking into his office and being given stuff.” She remarks in her interview that what sticks in her mind is the “utter generosity of spirit” displayed by Krishnan and Rodrigues. <span data-tag="5-Mentor-A0" data-component="audio">Loading...</span></p>
              </div>
              <div class="col-md-4">

              <span data-tag="5-Mentor-PS4" data-component="slide">Loading...</span>
              </div>
              </div>

              <div class="row">
              <div class="col-md-5">
              <p> People shape people. This chapter looks at the small and big influences of PK Maitra, KS Krishnan, Veronica Rodrigues and Obaid Siddiqi on members of the TIFR/NCBS biology community. Also check out the video clip narrated by Mani Ramaswami, a faculty member at Trinity College. He shares a story that PK Maitra liked to tell people, of a debate between Maitra and Siddiqi, and indicative of Siddiqi’s positive outlook.</p>

               <p> The slideshows contain selected photos and documents connected to the four scientists, including an interesting recollection regarding Siddiqi from John Carlson, who came to the TIFR Molecular Biology Unit (MBU) in the 1980s to learn about olfaction in Drosophila.</p></div>
               
               <div class="col-md-4">
              <span data-tag="5-Mentor-V1" data-component="video" >
                <div class="">
                  <video style="width:100%;" class="center-block" controls="" preload="metadata" name="media"><source src="https://www.ncbs.res.in/ncbs25/omeka/files/original/587a2062288e9a7fdf7ec243c868c325.mp4"></video>
                </div>

                <div class="featured-img-caption">
                  <span>Where is the whale? - Mani Ramaswami</span>
                </div>
              </span>

             </div>
             </div>
             

             <div class="row">
             <div class="col-md-4">
              <p> Conversations about mentors tend toward adulation, as time and distance softens and smoothens memories. But not always. Vaidya concedes that perhaps a quarter of what Krishnan donated her was not really useful. But that was okay – the rest made up for it. And listen to the interview excerpt of Kaleem Siddiqi, a professor in the School of Computer Science at McGill University. He shares a more practical difficulty from years ago when he was in middle school in Bombay and needed the help of his father, Obaid Siddiqi, in some school assignments. Obaid Siddiqi was just not deep into mathematics. “He really couldn’t answer any of those questions,” says Siddiqi of his father. “He had no concept.” It was just not his thing. <span data-tag="5-Mentor-A5" data-component="audio">Loading...</span></p></div>

              <div class="col-md-4">
               <span data-tag="5-Mentor-PS1" data-component="slide" >
                </span>
                </div>
                </div>

                <div class="col-md-9">
              <p> Siddiqi was also notorious for not publishing much. A paper worth publishing was one that really probed the thinking of a field, he would tell one of his last PhD students, Mohammed bin Abu Baker. On the other hand, Rodrigues was known for striking fear into the hearts of her younger colleagues, exhorting them to publish and apply for grants. Champakali Ayyub, a scientific officer at TIFR, discusses her views on her “elder sister”. <span data-tag="5-Mentor-A3" data-component="audio">Loading...</span></p>

              <p> For more, see the Gallery. There’s a copy of a 1993 letter from Rodrigues to Ayyub that elaborates on her publishing philosophy. And Siddiqi reflects on one of his teachers, Riayat Khan.  </p>


              <!--Gallery-->
              <div>
                <h3 class="text-center">GALLERY</h3>
                <!--<a class="btn btn-success center-block gallery-btn" role="button" data-toggle="collapse" href="#2-gallery" aria-expanded="false" aria-controls="2-gallery">GALLERY</a>-->

                <div class="in" id="2-gallery" style="height: auto;">
                <div class="audio-gallery-item col-sm-3" style="height:200px; overflow:hidden; margin-top:5px;">
                <img src="imgs/components/small-sound.svg" onmouseover="this.src='imgs/components/small-sound-hover.svg';" onmouseout="this.src='imgs/components/small-sound.svg';" class="audio-icon">
                <span>Deepti Trivedi, technology scientist at NCBS: On Obaid Siddiqi's hesitation in publishing a lot of material and his focus, instead, on the quality of the research shared with the world.</span>
                </div>

                <div class="audio-gallery-item col-sm-3" style="height:200px; overflow:hidden; margin-top:5px;">
                <img src="imgs/components/small-sound.svg" onmouseover="this.src='imgs/components/small-sound-hover.svg';" onmouseout="this.src='imgs/components/small-sound.svg';" class="audio-icon">
                <span>Maithreyi Narasimha, faculty member at TIFR: On the influence of Veronica Rodrigues when she joined as a young faculty at TIFR.</span>
                </div>

                <div class="audio-gallery-item col-sm-3" style="height:200px; overflow:hidden; margin-top:5px;">
                <img src="imgs/components/small-sound.svg" onmouseover="this.src='imgs/components/small-sound-hover.svg';" onmouseout="this.src='imgs/components/small-sound.svg';" class="audio-icon">
                <span>Obaid Siddiqi, founding member of NCBS &amp; TIFR's molecular biology unit: Being mentored by Riayat Khan while at Aligarh Muslim University in the 1950s, and being firmly situated in a research career.</span>
                </div>

                <div class="audio-gallery-item col-sm-3" style="height:200px; overflow:hidden; margin-top:5px;">
                <img src="imgs/components/small-sound.svg" onmouseover="this.src='imgs/components/small-sound-hover.svg';" onmouseout="this.src='imgs/components/small-sound.svg';" class="audio-icon">
                <span>Sanjay Sane, faculty member and former student at NCBS: Entering TIFR as a student and early interactions with Veronica Rodrigues.</span>
                </div>

                <div class="audio-gallery-item col-sm-3" style="height:200px; overflow:hidden; margin-top:5px;">
                <img src="imgs/components/small-sound.svg" onmouseover="this.src='imgs/components/small-sound-hover.svg';" onmouseout="this.src='imgs/components/small-sound.svg';" class="audio-icon">
                <span>Shobha Jagtap, administrative assistant in TIFR: Memories of working with Veronica Rodrigues</span>
                </div>

                <div class="img-gallery-item col-sm-3">
                <img src="https://www.ncbs.res.in/ncbs25/omeka/files/square_thumbnails/ac9fa6169216d07b005b90aff468b437.jpg" data-high-res-src="https://www.ncbs.res.in/ncbs25/omeka/files/original/ac9fa6169216d07b005b90aff468b437.jpg" class="img-responsive pannable">
                </div>

                <div class="img-gallery-item col-sm-3">
                <img src="https://www.ncbs.res.in/ncbs25/omeka/files/square_thumbnails/99c69d7a611b76e2c75af5660241273a.jpg" data-high-res-src="https://www.ncbs.res.in/ncbs25/omeka/files/original/99c69d7a611b76e2c75af5660241273a.jpg" class="img-responsive pannable">
                </div>

                <div class="img-gallery-item col-sm-3">
                <img src="https://www.ncbs.res.in/ncbs25/omeka/files/square_thumbnails/a2603e4332388db9e2a5564326ce7336.jpg" data-high-res-src="https://www.ncbs.res.in/ncbs25/omeka/files/original/a2603e4332388db9e2a5564326ce7336.jpg" class="img-responsive pannable">
                </div>

                <div class="img-gallery-item col-sm-3">
                <img src="https://www.ncbs.res.in/ncbs25/omeka/files/square_thumbnails/4bdc3d8a8bc682d20c934cbf355db048.jpg" data-high-res-src="https://www.ncbs.res.in/ncbs25/omeka/files/original/4bdc3d8a8bc682d20c934cbf355db048.jpg" class="img-responsive pannable">
                </div>

                <div class="img-gallery-item col-sm-3">
                <img src="https://www.ncbs.res.in/ncbs25/omeka/files/square_thumbnails/707ea842111c8eba49ed44e4e8c37a18.jpg" data-high-res-src="https://www.ncbs.res.in/ncbs25/omeka/files/original/707ea842111c8eba49ed44e4e8c37a18.jpg" class="img-responsive pannable">
                </div>

                <div class="img-gallery-item col-sm-3">
                <img src="https://www.ncbs.res.in/ncbs25/omeka/files/square_thumbnails/c1ae1eab63dcd754f1a04bb0c0f05be8.jpg" data-high-res-src="https://www.ncbs.res.in/ncbs25/omeka/files/original/c1ae1eab63dcd754f1a04bb0c0f05be8.jpg" class="img-responsive pannable">
                </div>

                <div class="img-gallery-item col-sm-3">
                <img src="https://www.ncbs.res.in/ncbs25/omeka/files/square_thumbnails/ab00477a8efa3f4dff7bbcdac42557dc.jpg" data-high-res-src="https://www.ncbs.res.in/ncbs25/omeka/files/original/ab00477a8efa3f4dff7bbcdac42557dc.jpg" class="img-responsive pannable">
                </div>

                <div class="img-gallery-item col-sm-3">
                <img src="https://www.ncbs.res.in/ncbs25/omeka/files/square_thumbnails/e0de825ca762ac9bc97073862c11db17.jpg" data-high-res-src="https://www.ncbs.res.in/ncbs25/omeka/files/original/e0de825ca762ac9bc97073862c11db17.jpg" class="img-responsive pannable">
                </div>

                <div class="img-gallery-item col-sm-3">
                <img src="https://www.ncbs.res.in/ncbs25/omeka/files/square_thumbnails/a872275719c406509363c3138f38485c.jpg" data-high-res-src="https://www.ncbs.res.in/ncbs25/omeka/files/original/a872275719c406509363c3138f38485c.jpg" class="img-responsive pannable">
                </div>

                <div class="img-gallery-item col-sm-3">
                <img src="https://www.ncbs.res.in/ncbs25/omeka/files/square_thumbnails/9725d67434840c8b61274fc387ece03e.jpg" data-high-res-src="https://www.ncbs.res.in/ncbs25/omeka/files/original/9725d67434840c8b61274fc387ece03e.jpg" class="img-responsive pannable">
                </div>

                <div class="img-gallery-item col-sm-3">
                <img src="https://www.ncbs.res.in/ncbs25/omeka/files/square_thumbnails/ca364c2b3fc1a02e31d82b6f67f41c58.jpg" data-high-res-src="https://www.ncbs.res.in/ncbs25/omeka/files/original/ca364c2b3fc1a02e31d82b6f67f41c58.jpg" class="img-responsive pannable">
                </div>

                <div class="img-gallery-item col-sm-3">
                <img src="https://www.ncbs.res.in/ncbs25/omeka/files/square_thumbnails/13c00f1b986d0f70d56075f5a218b188.jpg" data-high-res-src="https://www.ncbs.res.in/ncbs25/omeka/files/original/13c00f1b986d0f70d56075f5a218b188.jpg" class="img-responsive pannable">
                </div>

                <div class="img-gallery-item col-sm-3">
                <img src="https://www.ncbs.res.in/ncbs25/omeka/files/square_thumbnails/f822ec9cc9d16e9a6b348e6e488d0b74.jpg" data-high-res-src="https://www.ncbs.res.in/ncbs25/omeka/files/original/f822ec9cc9d16e9a6b348e6e488d0b74.jpg" class="img-responsive pannable">
                </div>

                <div class="img-gallery-item col-sm-3">
                <img src="https://www.ncbs.res.in/ncbs25/omeka/files/square_thumbnails/135f61f75709f920895317a5536767dc.jpg" data-high-res-src="https://www.ncbs.res.in/ncbs25/omeka/files/original/135f61f75709f920895317a5536767dc.jpg" class="img-responsive pannable">
                </div>

                <div class="img-gallery-item col-sm-3">
                <img src="https://www.ncbs.res.in/ncbs25/omeka/files/square_thumbnails/6c199eb2fd8ff46e6fa2215d7a776bc4.jpg" data-high-res-src="https://www.ncbs.res.in/ncbs25/omeka/files/original/6c199eb2fd8ff46e6fa2215d7a776bc4.jpg" class="img-responsive pannable">
                </div>

                <div class="img-gallery-item col-sm-3">
                <img src="https://www.ncbs.res.in/ncbs25/omeka/files/square_thumbnails/b9fb688f31b0cb6c1d370190123a0530.jpg" data-high-res-src="https://www.ncbs.res.in/ncbs25/omeka/files/original/b9fb688f31b0cb6c1d370190123a0530.jpg" class="img-responsive pannable">
                </div>

                <div class="img-gallery-item col-sm-3">
                <img src="https://www.ncbs.res.in/ncbs25/omeka/files/square_thumbnails/1f05974bebbaee38f2bbdb85391ae8ff.jpg" data-high-res-src="https://www.ncbs.res.in/ncbs25/omeka/files/original/1f05974bebbaee38f2bbdb85391ae8ff.jpg" class="img-responsive pannable">
                </div>

                <div class="col-sm-5" style="height:350px; ">
                <video style="width:100%; margin:10px; height:auto;" class="center-block" controls="" preload="metadata" name="media"><source src="https://www.ncbs.res.in/ncbs25/omeka/files/original/360ad7e425ed09e3c89e8777a9fc62ac.mp4"></video>
                    <span>Factoring politics into institutions - Imrana Qadeer</span>
                    <em>NCBS Archives</em>
                    </div>


                <div class="col-sm-5" style="height:350px; ">
                <video style="width:100%; margin:10px; height:auto;" class="center-block" controls="" preload="metadata" name="media"><source src="https://www.ncbs.res.in/ncbs25/omeka/files/original/1c11557fd1251e999014af1dfc904533.mp4"></video>
                    <span>Following Obaid - K S Krishnan</span>
                    <em></em>
                    </div>

                </div>
              </div>
              <!--Gallery-Ends-->

              </div>
              
            </div>
        </div>
      
      
