 <div class="container-fluid">

    <ul class="nav nav-pills theme-pills" data-tabs="tabs">
        <li class="active"><a href="#curatorial-note" data-toggle="tab">INTRODUCTION</a></li>
        <li><a href="#space-for-biology" data-toggle="tab">SPACE FOR BIOLOGY</a></li>
        <li><a href="#science-in-india" data-toggle="tab">SCIENCE IN INDIA</a></li>
        <li><a href="#recognition" data-toggle="tab">RECOGNITION</a></li>
        <li><a href="#reflections" data-toggle="tab">REFLECTIONS</a></li>
    </ul>
    
        <div class="tab-content">
            <div class="tab-pane active" id="curatorial-note">
              <div class="row">
                <div class="col-md-7">
                <p><span class="start-text">I</span>n 1944, Homi Bhabha informed A.V. Hill, then Secretary of the Royal Society, that the Sir Dorabji Tata Trust had agreed to sponsor his proposal for a fundamental research institute in physics. Hill replied with a prescient remark. “I think you had better take biophysics under its wing, too,” he said. “I am sure many of the most important future applications of physics will be in biology.”</p>   
               
               <p>The history of NCBS is tied to this broader quest for building a name for biological research in India. The Identity theme has four chapters of stories that explore this: from the ways in which people made the case for a separate space for biology, to weighing the pros and cons of doing science in India. Identity is about building a recognizable brand of research. And it is about contemplating on the scientific method itself – picking research questions and probing what distinguishes biology. Reflections on science is a selection of comments from researchers at NCBS and beyond.</p> 
             </div>
           </div>
          </div>

            <div class="tab-pane" id="space-for-biology">
              <div class="row">
                <div class="col-md-7">
              
                <blockquote>
                <p>"We are now entering into an age when scientists begin to function like the high priests of old, who looked after the sacred mysteries; we all bow down to them in reverence and awe, and sometimes, with a little fear, as to what they might be up to."
                 <span style="display: block;">– Jawaharlal Nehru, TIFR inauguration, 1962.</span></p>
                </blockquote>
                </div>
                </div>

                <div class="row">
                <div class="col-md-4">

                  <div class="featured-slide">
                    <img src="imgs/components/slider.svg" style="width:100px"/>
                    <div class="featured-slide-text"> An extract from the 1960-65 Third Five Year Plan, discussing the proposal to build a National Biological Laboratory. By the next plan period, Palampur... </div>
                  </div>
                  
                <p> <span class="start-text">N</span>ation building in the decades after Indian independence came with this patina of worship. The process included large scale science projects like dams and power plants, schools and universities. And it included new research centres.</p>

                <p> It was in this environment, at the time of the Third Five Year Plan (1960-1965), when the government was looking for gaps in the national outlook on science. There was no national space for biology, like, say, the National Physical Laboratory and National Chemical Laboratory. The Third Plan addressed this gap with a mention of a National Biological Laboratory (NBL). <span class="inline-highlight">To know what came of it, click on the audio slideshow below of MS Swaminathan, who was then at the Indian Agricultural Research Institute in Delhi. </span>
                  <span data-tag="1-Space-A0" data-component="audio" class="">Loading . . .</span></p>
              </div>


              <div class="col-md-offset-1 col-md-4">
                <span data-tag="1-Space-PS4" data-component="slide" class="">Loading . . .
                <img src="imgs/components/FLOWER.gif" class="center-block"/>
              </span>

              </div>
              </div>

              <div class="row">
              <div class="col-md-7">
                <p> The NBL never materialized. The idea kept resurfacing through the 1960s and 1970s. What did come up over the years was a <a href="http://www.ccmb.res.in/">Centre for Cellular and Molecular Biology (CCMB)</a> in the late 1970s. And then, later, a <a href="http://www.nii.res.in/">National Institute of Immunology</a> and a National Centre for Biological Sciences. 
                  <span class="inline-highlight">Listen to P Balaram’s unique description of the precursor, NBL, and these institutes that followed. 
                  </span>
                  <span data-tag="1-Space-A1" data-component="audio" class="">Loading . . .</span></p>

                <p> In the extract below from a 2012 TIFR documentary on Homi Bhabha, Obaid Siddiqi talks about the time in the early 1960s of working with Bhabha to make a space for biology in TIFR, including the construction of additional labs in the TIFR building for the new discipline.</p>
               </div>
               </div>

              <div class="row">
                <div class="col-md-4">
                <p> Biology was an add-on at the TIFR centre, which was built around physics and mathematics. Over time, it needed more space for its research. 
                  <span class="inline-highlight">Listen to a clip from Siddiqi’s oral history interview where he talks of his interactions with S Ramaseshan, then director of IISc, which then led to the first TIFR-IISc joint centre for biological research. 
                  </span>
                  <span data-tag="1-Space-A3" data-component="audio" class="">Loading . . .</span> (That, like the NBL, didn’t go far). 
                  <span class="inline-highlight">Also listen to Vidyanand Nanjundiah as he talks of the time he moved from IISc to TIFR in the early 1980s.
                  </span>
                   Nanjundiah worked with Siddiqi to write yet another proposal for a biology centre. This one would eventually become an actual centre. 
                   <span data-tag="1-Space-A2" data-component="audio" class="">Loading . . .</span></p>
              </div>
               <div class="col-md-offset-1 col-md-4">
                <span data-tag="1-Space-V1" data-component="video" class="">
                  
               
                <video style="width:100%;" class="center-block" controls="" preload="metadata" name="media"><source src="http://archives.ncbs.res.in/files/original/fd1fb5e659401c531a089048d7c3278a.mp4"></video>

                </span>


                <div class="featured-img-caption">
                <img src="imgs/components/small-video.svg" class="slider-caption-icon">
                <span>Starting a new molecular biology unit at TIFR-Obaid Siddiqi</span>
                <em>Films Division of India / TIFR Archives</em>
                  </div>
                 </div>
                </div>


               

                <div class="row">
                <div class="col-md-4">
                <p> The Planning Commission’s approval for the future NCBS came in July 1985, with the suggestion of setting the biology centre as a National Scheme. 
                  <span class="inline-highlight">Look at the first slideshow to read extracts from the 1980-85 and 1985-90 Plan proposal for the biology centre. 
                  </span>
                  (Also see the <a href="/#/theme/identity/science-in-india" target="_blank">Identity – Science in India</a> theme for related stories).</p>
                <p> Homi Bhabha would often draw connections between AV Hill’s advice in 1944 to consider biology in the TIFR program, to his hiring of Siddiqi to start molecular biology in 1962. The second slideshow brings out documents that highlight reflections – both at an individual as well as institutional level – on a home for biology.
                </p>

                <p> It is pertinent to point out that the Tata Trust’s support for biology preceded even the formation of TIFR, given the commissioning of the Tata Memorial Hospital in 1941.</p>
              </div>
              <div class="  col-md-offset-1 col-md-4">
                      <span data-tag="1-Space-P1" data-component="image" class="">Loading . . .</span>
              </div>
              </div>


              <div class="row">
              <div class="col-md-4">
            

                <p> The proposal for a biology centre was built around an expressed need for separate space. But such a need may also come from having to navigate institutional resistance. This has been a common theme through TIFR’s history. The molecular biology unit faced opposition in 1962, when faculty at Trombay pointed to an already existent biology division there. And a similar counterargument – of duplication of efforts – was heard in the 1980s when it was NCBS’ turn. 
                  <span class="inline-highlight">In his audio excerpt, K VijayRaghavan shares his opinion of that 1980s atmosphere, seeing what he calls an “extraordinary absence of institutional dynamism”. 
                  </span>
                  <span data-tag="1-Space-A4" data-component="audio" class="">Loading . . .</span></p>

                  <p> For more, including 1970s conversations with Siddiqi in TIFR’s West Canteen, step into the Gallery.</p>
                </div>

                  <div class="col-md-offset-1 col-md-3">
                      <span data-tag="1-Space-PS2" data-component="slide" class="">Loading . . .</span>
                    </div>

                    <div class="col-md-3">
                      <span data-tag="1-Space-PS1" data-component="slide" class="">Loading . . .</span>
                     </div>
                    
              </div>


                <!--Gallery-->
              <div class="gallery" data-tag="1-Space" data-component="gallery"></div>
              <!--Gallery-Ends-->

      </div>             



            <div class="tab-pane" id="science-in-india">
              <div class="row">
                 <div class="col-md-4">
                  <p> <span class="start-text">T</span>he ducks were all in a row. Or they seemed to be, anyway. Obaid Siddiqi and Vidyanand Nanjundiah, two members of the molecular biology faculty at TIFR, had written a proposal for a new biology centre outside of the main campus. </p>
                  
                  <div class="featured-slide">
                    <img src="imgs/components/slider.svg" style="width:100px"/>
                    <div class="featured-slide-text">Aditi Pophale at work in the Lakshadweep Archipelago in 2015. The MSc Wildlife program started in 2003 with an aim of teaching and conducting... </div>
                  </div>
                
                  <p>It was September 1983, part of a book of proposals for TIFR’s 1985-1990 Five Year Plan. BV Sreekantan, then director of TIFR, had approved it. JRD Tata, chair of the TIFR Council, liked the idea, too. The Institute assured the chair of the Atomic Energy Commission that it was okay for the Department of Atomic Energy (DAE) to support three biology centres – the existing ones at TIFR and Trombay, and in addition, this new centre. Things were good.</p>



                </div>
                   <div class="  col-md-offset-1 col-md-4">
                    <span data-tag="1-India-P1" data-component="image" class="">Loading . . .</span>
                    </div>
                </div>
               
                 <div class="row">
                    <div class="col-md-4"> 
                      <p> However, if you take a step back, these projects tell a different story. They point to something bigger than one Institute. This was about building up science in India. Listen to BV Sreekantan recounting this episode to learn how they went about justifying their five-fold budget. <span data-tag="1-India-A8" data-component="audio" class="">Loading . . .</span></p>
                    </div>
                </div>

                   <div class="row">
                    <div class="col-md-4">
                      <p> But then there was the Planning Commission, which assessed the whole TIFR plan, not just the biology centre. The ambitious plan included a huge radio astronomy project, the Giant Meter Wavelength Radio Telescope. It also requested an expansion of the Balloon Facility at Hyderabad and the TIFR-BARC Pelletron Facility. It sought money for permanent buildings for the Homi Bhabha Centre for Science Education. And it charted out the plan for a Centre for Fundamental Research in Biological Sciences. Summed up, here was an institute with an annual budget of Rs. 8-10 crores, proposing projects that would cost around Rs. 50 crores. It was a trifle hard to swallow.</p>
                    </div>

                  <div class="col-md-offset-1 col-md-4">
                  <span data-tag="1-India-V1" data-component="video" class="">
                    <div class="video-wrap">
                      <video style="width:100%;" class="center-block" controls="" preload="metadata" name="media"><source src="http://archives.ncbs.res.in/files/original/c04fd2dd1bcd7c6b3c303555415fa20b.mp4"></video>
                    </div>

                  <div class="featured-img-caption">
                    <img src="imgs/components/small-video.svg" class="slider-caption-icon">
                    <span>Building a scientific identity-Homi Bhabha</span>
                    <em>Films Division of India / TIFR Archives</em>
                  </div>
                  </span> 
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-4">
                  <p> Making a case for science in India has been central to the history of TIFR and NCBS. The video and one of the slideshows in this chapter track historical recordings and documents that mull over this, from early TIFR proposals by Homi Bhabha, to SN Bose’s 1961 letter to Siddiqi suggesting places that he could return to in India. Another slideshow moves forward in time. It brings excerpts from a 2009 special report in the Journal of Cell Biology on "Biological Sciences in India".</p>
                  <p> The 1983 biology centre plan envisioned a space that would “specially address itself to the biology of higher organisms”. This would include work on the organisation of genetic information, developmental biology, neurobiology, biochemistry of multi-cellular plants and animals. And in the future, they imagined, even higher level systems – ecology, social behaviour and evolution.</p>
                </div>
                  <div class="  col-md-offset-1 col-md-4">
                     <span data-tag="1-India-PS1" data-component="slide" class="">Loading . . .</span>
                  </div>
                </div>
                  
              <div class="row">
                    <div class="col-md-4">
                    
                  <p> At the ecology level, especially, doing science in India becomes more contextualized. The photo of Aditi Pophale at work in the Lakshadweep Archipelago is one example of over 40 field sites for the MSc Wildlife Programme, which started teaching "evidence-based conservation" in 2003.
                  </p>
                  <p> Listen to Sumantra Chattarji as he discuss how being in India played a role in his 1998 work on chronic stress in the amygdala, <span data-tag="1-India-A7" data-component="audio" class="">Loading . . .</span> to Shannon Olsson’s decision making process for taking up a faculty position in NCBS rather than any other part of the world, <span data-tag="1-India-A6" data-component="audio" class="">Loading . . .</span> and to Satyajit Mayor musing on how NCBS could leverage its India setting in future areas of research. <span data-tag="1-India-A5" data-component="audio" class="">Loading . . .</span>
                  </p>
                   <p> Want more? Head to the gallery below for more video clips. And check out the Research theme, to see the clinical and agricultural connects.  </p>
                  </div>
                  <div class="col-md-offset-1 col-md-4">
                  <span data-tag="1-India-PS2" data-component="slide" class="">Loading . . .</span>
                  </div>
              </div>

                
            <!--Gallery-->
                  <div class="gallery" data-tag="1-India" data-component="gallery"></div>
                  <!--Gallery-Ends-->
                  </div>
          
              <div class="tab-pane" id="recognition">
                <div class="row">
                  <div class="col-md-7">
                   <p> <span class="start-text">H</span>ere is the thing about being inside Bangalore’s Indian Institute of Science – or Tata Institute as it is commonly called – and setting up a satellite biology centre of Tata Institute – no, the other one in Bombay; and then relocating to an agricultural sciences university known more commonly as jikay-vikay (GKVK). It gets confusing.</p>    
                   <div class="featured-slide">
                     <img src="imgs/components/slider.svg" style="width:100px"/>
                     <div class="featured-slide-text">Homi Bhabha suggesting in a letter to Rustom Choksi in June 1944 that the word 'fundamental' should be replaced by 'advanced'...
                      </div>
                   </div>

                   
                   <p> This was the environment that PP Ranjith joined in 1995. He talks about this lack of recognition for NCBS in his audio excerpt. <span data-tag="1-Recognition-A12" data-component="audio" class="">Loading . . .</span> To be a recognizable brand, NCBS had to, of course, do decent science. And over time, it started to establish a name for itself. Sumantra Chattarji discusses the process of changing the letterhead and coming up with logo features that symbolized the nature of work at NCBS. <span data-tag="1-Recognition-A9" data-component="audio" class="">Loading . . .</span></p>
                  </div>
                
                </div>

              
                <div class="row">
                  <div class="col-md-4">
                   <p> Names carry meaning. The two slideshows give a glimpse of the evolution of a brand. For instance, in 1988, PK Maitra assured Jayant Udgaonkar that the new biology centre was likely to be a “good place in the coming years”. Between 1990 and 1992, NCBS removed the “fundamental” word from its original name, partly to avoid the awkwardness of two ‘fundamentals’ once TIFR’s name was included. (As it turns out, Homi Bhabha suggested in a 1944 letter that the word ‘fundamental’ should be replaced with ‘advanced’.)</p>

                   <p> In 1992, NCBS is listed as K VijayRaghavan’s institute affiliation, the first known time in scientific journals. But the NCBS address on papers persisted to be a problem, as seen by the action item at a November 1999 faculty meeting. In parallel, the molecular biology unit at TIFR changed its name to be the Department of Biological Sciences. The name, DBS, reflected a more holistic view of the research at the time, though some did not take to the new name well, with quips of it sounding ‘dubious’.</p>
                   </div>

                   <div class="  col-md-offset-1 col-md-3">
                     <span data-tag="1-Recognition-PS1" data-component="slide" class="">Loading . . .</span>
                   </div>

                     <div class="col-md-3">
                        <span data-tag="1-Recognition-PS2" data-component="slide" class="">Loading . . .</span>
                     </div>
                </div>    
                   
                  <div class="row">
                   <div class="col-md-4">
                   <p> Names carry meaning. A good “brand” opens doors, and this is true for people, too. Awards and nominations usually come as an after effect of good work. But over time, they, too, become shorthand for one’s work. Robin Holliday alludes to this in the featured 1984 letter to Obaid Siddiqi after Siddiqi was nominated to be a Fellow of the Royal Society. An individual’s nomination process to a scientific society, in itself, can be a way of building the value of both the individual or, as Pontecorvo’s letter to Siddiqi suggests, of the society.</p>

                   <p> Another way to build brands is to hire luminaries into an institute. In the featured video extract from 2012, Utpal Banerjee cautions against this method, discussing the need to instead hire “people who are willing to come here and develop this place as their own.”</p>
                 </div>
                   <div class="  col-md-offset-1 col-md-4">
                     <span data-tag="1-Recognition-P1" data-component="image" class="">Loading . . .</span>
                   </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-md-4">
                      <p> In the end, the measure of success of NCBS, to paraphrase a comment by K VijayRaghavan, is simple: whether you want to come and work at the Centre, and whether you are valued when you leave. That kind of a brand is sustained by science and the culture in which it is conducted. Satyajit Rath shares his views on the “intellectual benchmarking” that the TIFR/NCBS brands have done in Indian science over the years. <span data-tag="1-Recognition-A10" data-component="audio" class="">Loading . . .</span> And Vidyanand Nanjundiah assesses the NCBS culture as being reflective of the TIFR culture in its early days, both in the quality of science and in the risk-taking mentality that an abundance of resources offers. <span data-tag="1-Recognition-A11" data-component="audio" class="">Loading . . .</span></p>
                    </div>
                    <div class="  col-md-offset-1 col-md-4">
                      <span data-tag="1-Recognition-V1" data-component="video" class="">
                       <div class="">
                        <video style="width:100%;" class="center-block" controls="" preload="metadata" name="media"><source src="http://archives.ncbs.res.in/files/original/730419d10ff675bdfee73e2250746d55.mp4"></video>
                    </div>

                    <div class="featured-img-caption">
                    <img src="imgs/components/small-video.svg" class="slider-caption-icon">
                      <span>Building an identity for NCBS-Utpal Banerjee</span> 
                    </div>
                   </span>
                   </div>
                  </div>

                  <div class="row">
                   <div class="col-md-7">
                    <p> More? See more views – past and present – on name recognition in the gallery.</p>
                  </div>


              </div>
              <!--Gallery-->
              <div class="gallery" data-tag="1-Recognition" data-component="gallery"></div>
                   <!--Gallery ends-->
            </div>           


              <div class="tab-pane" id="reflections">
                <div class="row">
                  <div class="col-md-4">
                 <p> <span class="start-text">O</span>ne of the romantic ideas behind much of science is that the different disciplines are connected to each other, and that the boundaries we draw only illustrate our inability to see the fluidity across the sciences.</p>

                 <div class="featured-slide">
                   <img src="imgs/components/slider.svg" style="width:100px"/>
                   <div class="featured-slide-text">A selection of quotes on the scientific process from past and current faculty at TIFR and NCBS.
                    </div>
                 </div>

                 <p> But that idea is also a case of ignoring some clear distinctions between disciplines, as Obaid Siddiqi remarks in a 2003 oral history session on the scientific method. “The point is that every science has its own characteristics; especially for a working scientist – he learns the characteristic of science, which are his/her trade over a long period of time,” he says. “Some of it is skill, some of it are [sic] ways of thinking and the last part is intuition that he develops without any sort of rule of thumb method.” Listen to the rest of the excerpt where he talks about how the complexity of organisms distinguishes biology.<span data-tag="1-Reflection-A15" data-component="audio" class="">Loading . . .</span> </p>
                 </div> 
                   <div class="  col-md-offset-1 col-md-4"> 
                      <span data-tag="1-Reflection-P1" data-component="image" class="">Loading . . .</span> 
                  </div> 
                </div>


                <div class="row">
                  <div class="col-md-7">
                  <p> One approach to parsing this complexity in biology has been the extensive use of model organisms, with some yearning to develop broader truths. In his audio clip, Sanjay Sane discusses the use of model organisms, and more importantly, the blinders one has on while being confined to a model organism.<span data-tag="1-Reflection-A16" data-component="audio" class="">Loading . . .</span></p> 
               
                <p>Every now and then, a fleeting phrase sticks in the mind and becomes one to share for generations after. Jacques Monod’s statement at the 1961 Cold Spring Harbour symposia on quantitative biology that “anything found to be true of E. coli must also be true of elephants” is one such example. The featured image and some in the slideshow are a selection of reflections from a variety of researchers within NCBS as well as other historical figures. Also listen to K VijayRaghavan, Gaiti Hasan and Ajith Kumar as they share their longer views in audio excerpts on intuition in science, 
                  <span data-tag="1-Reflection-A13" data-component="audio" class="">Loading . . .</span> finding research questions 
                  <span data-tag="1-Reflection-A14" data-component="audio" class="">Loading . . .</span> and the bridge between biology and society respectively. 
                  <span data-tag="1-Reflection-A17" data-component="audio" class="">Loading . . .</span>
                </p>
                </div>
                <div class="col-md-offset-5">
                </div>
              </div>

                <div class="row">
                 <div class="col-md-4">
                    <p>These kinds of thoughts get to the heart of building any new institution. They are reflected in the language of the 1985-90 NCBS proposal document, where the authors imagined the future progress of biology would lie in building on the complexity at each level of life, and finding and making connections at “yet higher levels such as ecology, social behaviour and evolution”. It is a view that does not dismiss the interdisciplinary nature of life, as it were, but one that insists that each discipline has a depth waiting to be explored, and that only after building a characteristic outlook within a discipline does one start to see the connections.
                    </p>
                    <p>
                      One of Siddiqi’s long-time collaborators and friends, Martin Heisenberg, wrote a 2012 Journal of Neurogenetics essay that began with an exploration of the differences between biology, physics and chemistry.
                    </p>
                  </div>
                  <div class="  col-md-offset-1 col-md-4">
                    <span data-tag="1-Reflection-PS1" data-component="slide" class="">Loading . .
                    </span>
                  </div>
               </div>
                
              <div class="row">
               <div class="col-md-7">
                 <p>  An excerpt can be seen in the slideshow. “In order to be taken seriously by physicists and chemists, a biologist has to formulate his findings as objective facts,” he wrote. But that is difficult in biology, and experiments may not always have the same results. “To understand why, we have to consider the process of life. There is only one such process on earth. It has been going on without interruption for about 4.5 billion years. From very early on it had the three features of biological evolution: variation, reproduction, and selection. Due to this property — we might call it the Darwinian principle, life on earth is a continuously changing process that allows biological phenomena to appear de novo and others to disappear forever.”  </p>
               </div>
            </div>
            </div>

          </div>
  



  
 