  <div class="container-fluid">
 

    <ul class="nav nav-pills theme-pills" data-tabs="tabs">
        <li class="active"><a href="#curatorial-note" data-toggle="tab">INTRODUCTION</a></li>
        <li><a href="#gender-equality" data-toggle="tab">GENDER EQUALITY</a></li>
        <li><a href="#hierarchy-and-class" data-toggle="tab">HIERARCHY AND CLASS</a></li>
        <li><a href="#ncbs-community" data-toggle="tab">NCBS COMMUNITY</a></li>
        <li><a href="#outside-world" data-toggle="tab">OUTSIDE WORLD</a></li>
    </ul>
    
        <div class="tab-content">
            <div class="tab-pane active" id="curatorial-note">
              <div class="row">
                  <div class="col-md-7">
                 <p><span class="start-text">S</span>tories on hiring faculty, on probing a question for a PhD, on the background to a scientific paper, are all stories that are specific to the history of a research institution. But there are some issues that are pressing in a broader society, and the institution happens to be a microcosm for these issue.</p>      
               
               <p>In the Intersections theme, there are stories around gender equality – the perceptions of students, faculty and staff, past and present. And there are stories around hierarchy, class and the barriers to entry at the Centre. There’s a chapter with views – both historic and current – on interactions between members of the NCBS community. And there’s one on the world beyond the lab and the walls of the Centre. How has NCBS engaged with those outside?</p>  

               <p>These are complex and layered issues that go far beyond what can be covered here. But what institutional history can do is to repeat things that bear repeating, display some of the lines that divide people, and share some of the ways in which people erase them.</p>
            </div>
           
          </div>
        </div>

            <div class="tab-pane" id="gender-equality">
              <div class="row">
            <div class="col-md-7">
              
            <p> <span class="start-text">S</span>he has a spring in her step when she walks out of home every morning. She plugs in her earphones, gets on the bus to go to NCBS, and walks across campus to Dolna, the NCBS crèche.</p>
 
            <p>On this journey, she is in her own world. When she enters the crèche, she is in the world created by the toddlers. She is one of the caretakers at the crèche and she loves it. It’s a new world every time. She watches the toddlers learn to swim and the older ones dig up mud in the garden. 
            </p>

            <div class="featured-slide">
              <img src="imgs/components/slider.svg" style="width:100px"/>
              <div class="featured-slide-text">The Dolna creche had humble beginnings at NCBS after R. Sowdhamini joined in the late 1990s. Sowdhamini was the first female faculty hire...</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>
              There are a few quiet hours in the afternoon when the little ones nap. Come evening, there’s taekwondo, cycling, craft, and snack time. Oh, the food! In the summer, they go on field trips to zoos, museums, and radio stations. And one day, the kids even heard a story on Skype, narrated by a famous storyteller based in the UK. What’s not to like? Evenings are hard, both on the kids and her. The crèche is a dream for the kids and a refuge for her. Home is mundane and devoid of joy, there’s really nobody she can relate to. But at least she’ll be back with the kids tomorrow.
            </p>

            <p> The NCBS crèche is a model institution for other childcare centres in the city. It has a waiting list. Caretakers say new students with kids factor an available spot in the crèche into their decision making process before joining NCBS.
            </p>
            <p>
              But it also seems stereotypical to start a section on gender by talking about a woman doing childcare. The only reason is to show how it began and show how it plays into society’s idea of gender roles. The campus did not have a formal child support structure till the late 1990s. 
            </p>
          </div>


            <div class="col-md-offset-1 col-md-4">
            <span data-tag="7-Gender-P1" data-component="image">Loading...</span>
            </div>
            </div>

            <div class="row">
            <div class="col-md-7">
           


              <p>This changed after 1998, when R Sowdhamini joined the faculty. What she noticed was that though other faculty members had toddlers, she was the first female faculty member with a child. R Sowdhamini proposed the idea of having a crèche. Listen to her talking about those early days, and the way she’s seen gender roles shape on campus. <span data-tag="7-Gender-A1" data-component="audio">Loading...</span></p></div>
              
            </div>

            <div class="row">
            <div class="col-md-4">
              <p>Looking after the kids and home is what Arlie Russell Hochschild famously termed the second shift in her 1989 book, The Second Shift: Working Parents and the Revolution at Home. It’s invisible work. But gender perceptions can also get reinforced without one’s realisation. For instance, at the crèche, the only male employees at the crèche are those who come and teach particular classes. The caretakers during the day are all women. And while it’s what many at the crèche may prefer, it also underlines an old idea of who a caretaker is. For a sense of how it was in an earlier time, listen to Kaleem Siddiqi’s memories of growing up in the TIFR campus in the late 1970s and early 1980s, and the way house work was split up at the homes of the TIFR scientists, including his own, the Siddiqi family. <span data-tag="7-Gender-A4" data-component="audio">Loading...</span>
              </p>
            </div>
                <div class="col-md-offset-1 col-md-3">
                <span data-tag="7-Gender-PS2" data-component="slide">Loading...</span>
                </div>

                <div class="col-md-3">
                <span data-tag="7-Gender-PS1" data-component="slide">Loading...</span>
                </div>
              </div>

                <div class="row">
                <div class="col-md-7">
                 <p>And listen to Debakshi Mullick, current PhD student at NCBS, as she narrates her impressions on gender roles in the biosciences industry from her short experience as an intern recently. 
                    <span data-tag="7-Gender-A5" data-component="audio">Loading...</span>
                </p> 

              <p>What more can one say about gender inequality in academia than what is widely covered – and in far more depth – in a variety of publications. IndiaBioscience, a non-profit program based out of an office at NCBS, has been <a href="https://indiabioscience.org/columns/opinion/theme:women-in-science" target="_blank">instrumental</a> in propping up the conversation on <a href="https://indiabioscience.org/meetings/indian-women-in-science-wikipedia-edit-a-thon" target="_blank">women in science</a>. Still, repetition is useful. In his clip, Vidyanand Nanjundiah, faculty member at TIFR in 1980s, talks about the changes in gender imbalance in science from the 1970s to today. <span data-tag="7-Gender-A3" data-component="audio">Loading...</span></p>


              <p>Arguably, the ratio at NCBS (a little over a third of the faculty are women) is better than many other science institutions across India (with the notable exception of the All-India Institute of Medical Sciences, where, in 2009, about half the 85 faculty members across the basic sciences were women). See the image for more.</p></div>
              
              </div>

              <div class="row">
              <div class="col-md-4">
              <p> But there’s always more room to talk about gender, because biases come in many forms, some that are invisible to half the population. Take a look at Veronica Rodrigues' 1990 note in response to gender biases at TIFR, where she admonishes the Institute on their habit of addressing women by their marital status in official correspondence.</p>
              <p> Perhaps the biggest way to make systemic changes is to state the obvious again: have more representation of women across levels of science. Listen to a particular story by Vidita Vaidya, faculty member at TIFR. She starts with how Veronica Rodrigues would push her to publish when she was a new faculty member and needed good academic credentials for future funding. Vaidya then talks about being the only woman at a review in 2003, and the kind of questions she was asked. <span data-tag="7-Gender-A2" data-component="audio">Loading...</span> For more, see the article excerpt by Gaiti Hasan, an NCBS faculty member, and hear her interview of excerpt comparing today’s climate to when she started her career. <span data-tag="7-Gender-A0" data-component="audio">Loading...</span></p></div>

              <div class="col-md-offset-1 col-md-4">
              <span data-tag="7-Gender-PS4" data-component="slide">Loading...</span>
              </div>
              </div>

              <div class="row">
              <div class="col-md-7">
              <p> Perception has a far reaching effect. This chapter will become truly archival in nature when students like Mullick don’t notice the things they do before they hit the job market. The system’s not quite there yet.</p>             
              </div>
              
            </div>
              <!--Gallery-->
                <div class="gallery" data-tag="7-Gender" data-component="gallery" data-audio="true" data-video="true" data-image="false"></div>
                <!--Gallery-Ends-->
              </div>
            
          

            <div class="tab-pane" id="hierarchy-and-class">
              <div class="row">
                  <div class="col-md-7">
                <p>“<span class="start-text">I</span>f you come to NCBS, as soon as you hear them speaking, you know that most of the people are from upper middle class, not from villages,” said Dilawar Singh. “That is the general trend.” It’s just something he couldn’t help noticing when he first came to campus.</p>

                <div class="featured-slide">
                  <img src="imgs/components/slider.svg" style="width:100px"/>
                  <div class="featured-slide-text">Almost every day, at a certain hour in the late morning, four employees of the horticultural services are at work, weeding in...
                  </div>
                </div>


                <p>Singh, a current PhD student at NCBS, grew up in Nichalpur, a village in Uttar Pradesh. He started learning English after completing school, and then moved to Chennai to study instrumentation engineering. There, at the library, he came across MN Srinivas’ book, “The Remembered Village”, which led to an interest in sociology. After a stint at IIT Bombay, he moved to NCBS, partly because, like many, he liked how it looked. Listen to his interview clip, where he compares the demographic at different campuses and shares his thoughts on social mobility. <span data-tag="7-Hierarchy-A1" data-component="audio">Loading...</span></p>

                <p> English is the language of instruction, signage and communication at NCBS, and it is the language for mobility. Student potential – as in the case of interviews – is also judged in English. Satyajit Rath, faculty member at the National Institute of Immunology (NII), agrees with Singh’s assessment of campus demographics. In his interview clip, he discusses the role English plays in reinforcing class distinctions at academic institutions like NII and NCBS, and how some sort of affirmative action is necessary to address class diversity. <span data-tag="7-Hierarchy-A2" data-component="audio">Loading...</span></p></div>
               
                </div>

                <div class="row">
                <div class="col-md-4">
                  <blockquote>
                    <p>
                      We envisage that the bulk of the staff in the lower categories of employees will be from the local population
                    </p>
                  </blockquote>
                <p> Bring reservation up in review committees and meetings on campus, and it makes people very uncomfortable, said one faculty member. Nobody wants to go there. There are no reservation policies for faculty hiring or student selection. Permanent staff hiring has to follow a reservation policy. But this is again loosened for scientific and technical staff. Reservation only applies at the lowest level of hiring for this group. Sanjay Sane, a faculty member and former student at NCBS, shares some of his views in his interview. <span data-tag="7-Hierarchy-A3" data-component="audio">Loading...</span></p>

                <p> There is also the question of hierarchy across the staff of NCBS. In the Centre’s early days, the security guards used to salute the senior faculty when they came in through the gates. It was a matter of habit. It’s what they’d been taught to do in their profession. The faculty put a halt to this practice.</p></div>
                <div class="col-md-offset-1 col-md-4">
                <span data-tag="7-Hierarchy-P1" data-component="image">Loading...</span>
                </div>
                </div>

                <div class="row">
                <div class="col-md-7">
                <p> In 1989, Obaid Siddiqi wrote a letter to the Vice-Chancellor of the University of Agricultural Sciences (UAS), assuring him that the new NCBS will hire locally. “We envisage that the bulk of the staff in the lower categories of employees will be from the local population,” he wrote. In an unintended way, the implied hiring mechanism also runs the risk of reinforcing certain hierarchies that are tied to language barriers. Very few faculty members and students speak Kannada. Many members of the support staff may not speak any other language. There are very few signs at NCBS in Kannada. There has been admirable effort to teach Kannada for many years. But it stopped earlier this year due to a combination of poor attendance and purse tightening.</p></div>
               
              </div>

                
                <div class="row">
                <div class="col-md-4">
                <p> From its start in 1991, NCBS envisioned a lean staff size, and forecast that a lot of the support work would be done by contract agencies. Ranjith, a lab manager at NCBS, narrates a story about hierarchies. He first discusses the disconnect that many staff members might have from the science at NCBS. He then shares his views on how hierarchies form as a result of having a vast pool of temporary staff or people under contract, which comes with its own insecurity. To be temporary, in a sense, is to also work under fear. <span data-tag="7-Hierarchy-A4" data-component="audio">Loading...</span></p>

                <p> That said, there’s also been an effort since the beginning of NCBS to bend toward a more egalitarian culture. New students and staff quickly learn that they are expected to call faculty by their first names. New students remark how it put them off balance at first but it also helped break boundaries very quickly.
                </p>

                <p> Going beyond names though, there’s a less visible class structure; addressing someone by their name does not level the field. Shannon Olsson, faculty member at NCBS, rounds up this chapter with her views on wrestling with inherent class structures and figuring out a way to work within and outside of them. <span data-tag="7-Hierarchy-A5" data-component="audio">Loading...</span></p>
              </div>

                <div class="col-md-offset-1 col-md-4">
                <span data-tag="7-Hierarchy-PS1" data-component="slide">Loading...</span>
                </div>
                </div>

                <!--Gallery-->
                <div class="gallery" data-tag="7-Hierarchy" data-component="gallery" data-audio="true" data-video="false" data-image="true"></div>
                <!--Gallery-Ends-->
                </div>
            
          

            <div class="tab-pane" id="ncbs-community">
              <div class="row">
                  <div class="col-md-7">
                

                <p> <span class="start-text">P</span>ick the vial off the rack, the one with Drosophila and old media. Pick up a new vial with fresh media from another rack, remove the cotton plug off the old vial, invert the old vial into the new one, watch the flies drift in, drop the old vial into its rack, plug the new vial with enough fresh cotton that it makes a proper plug and a little bit sticks out like a chef’s hat but not so much cotton that you are unable to plug the vial, pick up another old vial off the rack….That’s a few seconds. The fly facility technician is in the zone.</p>

                    <div class="featured-slide">
                      <img src="imgs/components/slider.svg" style="width:100px"/>
                      <div class="featured-slide-text">Group photo of staff members at the TIFR IISc centre, c 1995...</div>
                    </div>
                  </div>
                </div>

                <div class="row">
                <div class="col-md-4">
                <p> Flies have been part of NCBS since it began in 1991, and going all the way back to Obaid Siddiqi’s 1970s work at TIFR and Caltech. Today, NCBS is one of the very few centres in India with a dedicated fly facility. The facility supplies Drosophila lines to various research institutes in India as well as other places around the world. The facility staff performs a variety of tasks. One transfers fly across vials, another aligns Drosophila embryos, yet another injects the embryos as part of the facility’s process of producing transgenic Drosophila.
                  </p>
                  <p>
                 But Deepti Trivedi, a scientist in charge of the fly facility, often wonders what her staff is thinking of when in the flow of fly work. There’s also a language barrier. She doesn’t speak Kannada. Many don’t speak English. In her interview, Trivedi shares some views on talking science with her staff. <span data-tag="7-NCBS-A1" data-component="audio">Loading...</span>
               </p>
                  <blockquote>
                  <p>Institute should be small, that its staff and students or scholars should be few, that the administration should be inconspicuous, inexpensive and subordinate, that the member of the teaching staff, while freed from the waste of time involved in administrative work, should freely participate in decisions involving the character, quality and direction of its activities.”
                  </p>
                  <span class="text"> Abraham Flexner </span>
                </blockquote>
               
              </div>

                <div class="col-md-offset-1 col-md-4">
                <span data-tag="7-NCBS-P1" data-component="image">Loading...</span>
                </div>
              </div>

              <div class="row">
              <div class="col-md-7">
                <p> Support staff members run NCBS. They clean bathrooms, weed lawns, process an invoice, manage a key bank, drive a shuttle van, serve coffee, order reagents, turn off the lights and yes, transfer flies. Being creative or engaged is not part of the job description. It might sometimes even be an unreasonable expectation. They do necessary work and occasionally work that nobody else wants to do. Sometimes people do what they do because they need the money. That’s the story of a significant proportion of NCBS staff, not just today but across its history.
                </p>
                <p> The 1990-92 NCBS proposal is fairly emphatic about the way the institute would be structured: “What we wish to do was expressed pithily by Abraham Flexner when he proposed the creation of the Institute of Advanced Study in Princeton. Flexner suggested that the Institute "...should be small, that its staff and students or scholars should be few, that the administration should be inconspicuous, inexpensive and subordinate, that the member of the teaching staff, while freed from the waste of time involved in administrative work, should freely participate in decisions involving the character, quality and direction of its activities.” <a href="#/theme/institution-building/space-and-autonomy">(Also see the Institution Building – Autonomy Theme)</a>.</p>
              </div>
                
              </div>


                <div class="row">
                <div class="col-md-4">
                <p> The image shows an annexure from a 1996 Project Management Committee meeting. NCBS tries to keep a total of about 60 permanent non-academic staff, expecting that the facilities work will be done by people “on contract to external agencies”. Listen to the audio clip of Shaju Varghese, an administrative officer (services) at NCBS. He discusses his work at TIFR before he moved to NCBS in the early 1990s, the scale of work at NCBS today, and the limitations of a system with very few permanent staff members. <span data-tag="7-NCBS-A4" data-component="audio">Loading...</span> And listen to H Bhagya, member of the cleaning services at NCBS since 2001, as she describes her path to NCBS and interaction with the scientific work. <span data-tag="7-NCBS-A2" data-component="audio">Loading...</span>
                </p>
                <p>
                In an outreach talk to the NCBS administration in 2009 on olfaction in Drosophila, Obaid Siddiqi started by saying that the scientific career was a self-rewarding one. And he wondered “Is administration – if it is mere service – self rewarding?” 
              </p>
            </div>

                <div class="col-md-offset-1 col-md-4">
                <p><span data-tag="7-NCBS-PS1" data-component="slide">Loading...</span></p>
                </div>
                </div>

                <div class="row">
                <div class="col-md-7">
                <p> Check out the image for the whole talk. Highlighting the nature of service, this task of engaging the staff, lies on the shoulders of its management. For a while a few years ago, NCBS ran a successful seminar series for the staff where faculty members described their work to a broader audience.</p></div>
                
                </div>

                <div class="row">
                <div class="col-md-4">
                <p> Every now and then, a unique relation develops between a faculty member and support staff member. In the early 2000s, Sunil Prabhakar joined Obaid Siddiqi's lab as an assistant, offering technical assistance for fly behavior experiments, stock keeping and management of laboratory consumables. He would later continue to do a Masters, and then pursue a PhD. (Hop over to the Sandbox – Space Tour theme to hear Trivedi’s recollections of the bantering between Siddiqi and Prabhakar). Also listen to Sanjay Sane, faculty member at NCBS, talk about the work of M Kemparaju, his long-term lab assistant with an astonishing knowledge of butterflies. To Sane, M Kemparaju is unique and irreplaceable “He’s the person who keeps us employed,” says Sane. And yet, he is relatively unemployable outside NCBS since nobody needs his skill as much as Sane does. <span data-tag="7-NCBS-A3" data-component="audio">Loading...</span>
                </p>
                <p>
                The career growth track for support staff has varied across the history of TIFR and NCBS. Lab assistants going on to do PhDs were not uncommon in TIFR’s Molecular Biology Unit (MBU).
              </p>
            </div>

                <div class="col-md-offset-1 col-md-4">
                <p><span data-tag="7-NCBS-PS2" data-component="slide">Loading...</span></p>
                </div>
                </div>

                <div class="row">
                <div class="col-md-7">
                <p> For more on that, head to the Gallery for a couple of contrasting stories from Champakali Ayyub and PN Bhavsar.  </p>
                </div>
               
              </div>
                <!--Gallery-->
                <div class="gallery" data-tag="7-NCBS" data-component="gallery" data-audio="true" data-video="false" data-image="true"></div>
                <!--Gallery-Ends-->
                </div>
            
          

            <div class="tab-pane" id="outside-world">
              <div class="row">
                <div class="col-md-7">
                <p><span class="start-text">H</span>ave you seen cells? 
                Yes, we’ve seen cells, reply the kids. They’re between 13 and 15 years old.</p>
                <p>Have you seen real cells?  
                No, the kids haven’t seen real cells. So, H Krishnamurthy shows them cells in culture under the microscope.
                There are some dead cells in this. Can you show me which ones are the dead cells?
                And thus, on a Saturday morning, they start out on their first cell biology experiment.</p>
                </div>
                <div class="col-md-offset-5">
                </div>
                </div>

                <div class="row">
                <div class="col-md-4">

                <div class="featured-slide">
                  <img src="imgs/components/slider.svg" style="width:100px"/>
                  <div class="featured-slide-text">Extracts from Obaid Siddiqi's Nizam Lecture (1988), given in Urdu. Seen here is an extract from Siddiqi's cheatsheet...
                  </div>
                </div>

                <p>In 1978, Krishnamurthy saw a laser for the first time. He also saw liquid nitrogen that Sunday. At the time, Krishnamurthy was a first year Pre University College (PUC) student in Bangalore. H Narasimahaiah, who had founded the Bangalore Science Forum in 1962, visited his college and announced that he was going to take the students to IISc. Krishnamurthy, who is the head of cytometry and imaging facilities at NCBS, has seen a few lasers since that Sunday. But that first time was special. “I can’t forget the day of seeing the laser and that excitement,” he says.</p>


                <p>It’s one of the reasons Krishnamurthy can often be seen around NCBS on weekends with an entourage of students. They challenge him with their questions and ideas, as on that day, when he asked them to identify dead cells. Listen to his interview clip to learn more about how the kids went about solving his problem. <span data-tag="7-Outside-A1" data-component="audio">Loading...</span></p></div>

                <div class="col-md-offset-1 col-md-4">
                <span data-tag="7-Outside-P1" data-component="image">Loading...</span>
                </div>
                </div>

                <div class="row">
                <div class="col-md-7">
                <p>There are perhaps a few broad ways to measure NCBS’ bond to the outside world.</p>


                <p>One is in how its members take their knowledge out and bring the broader community in. A scan of the activities across the campus would give one the sense that outreach is just part of the ethos. Some students teach at local schools, as do faculty members. Some, like Krishnamurthy, host students on campus. The Centre hosts a science journalism workshop every summer. The ecology, evolution and conservation biology researchers engage with the public through NCBS field stations and museum tours (and a Moth Day on campus). </p>
                </div>
                
                </div>

                <div class="row">
                <div class="col-md-4">
                  <p>This past summer, Aswin Sai Narain Seshasayee and Dasaradhi Palakodeti, faculty members at NCBS and InStem, started <a href="http://www.perspectivomag.net/" target="_blank">Perspectivo,</a> “a magazine of the sciences and the humanities”. Visitors on campus tours are a routine sight. An active Research Development Office spearheads much of the effort.
                  </p>
                <p>There’s an annual Open Day for the public in November. And for more than a decade, the Science and Society program at NCBS has been funding and hosting projects and events that dovetail science and the humanities and explore the history of science. It’s a lot to take in. And it can seem contradictory to the refrain that to be in NCBS is to live in a bubble, perhaps only illustrative of different perceptions. The thing of interest is the ready engagement of the faculty in outreach, especially since it doesn’t necessarily count toward their academic output. But when asked about the seemingly wide array of outreach activities, one faculty member looked bemused. Yes, he replied. It was a natural thing to do. How else should it be?</p></div>

                <div class="col-md-offset-1 col-md-4">

                <span data-tag="7-Outside-PS1" data-component="slide">Loading...</span>
                </div>
                </div>
                <div class="row">
                <div class="col-md-7">
                <p>A second measure is to assess how NCBS community members carry out their work in a way that assimilates with broader societal concerns. One example is the MSc Wildlife Programme. When it started in 2003, it took a slightly different approach to education. This was in the nature of the program, which was outward looking and needed a student body that could engage with issues far beyond the lab. Listen to Ajith Kumar, NCBS faculty member and one of the founders of the programme, talk about where his students come from, where they go, and an eclectic curriculum from genetics to public policy to environmental law while they’re at the Centre. <span data-tag="7-Outside-A4" data-component="audio">Loading...</span></p>

                <p>These bridges to society could be seen as being part of a longer trend in spreading a scientific attitude. Arguably, it started decades ago at TIFR, most notably with the articles and opinion pieces written by BM Udgaonkar, a faculty member at TIFR. Udgaonkar would later go on to found the Homi Bhabha Centre for Science Education. A glance at the <a href="http://www.hbcse.tifr.res.in/people/former-members/b.-m.-udgaonkar" target="_blank">list of publications</a> intended at a general audience gives us an understanding of this body of work, especially the 1979-80 work on <a href="http://www.jstor.org/stable/23001793" target="_blank">‘Scientific Temper and Public Policy’</a>.</p>
                </div>
               
              </div>

                <div class="row">
                <div class="col-md-4">
                <p>But coupled with these measures of engaging with the outside world is another one: to see how members of the NCBS community get involved with issues beyond the campus. At NCBS, Obaid Siddiqi is often cited as an example of a politically involved academic, especially from his younger days. In the featured video, the economist, Prabhat Patnaik, summarizes the political involvement of Obaid Siddiqi while in college in the late 1940 and early 1950s.</p>
              <p>Many senior members of the faculty themselves grew up in environments where they were tuned into the issues of the time. Listen, for instance, to the views of Upinder Bhalla, faculty member at NCBS. Bhalla grew up in the Jawaharlal Nehru University (JNU) campus with two parents heavily involved in political action, and he reflects on current campus life at NCBS. <span data-tag="7-Outside-A3" data-component="audio">Loading...</span> 
              </p>
            </div>

                <div class="col-md-offset-1 col-md-4">
                <span data-tag="7-Outside-V1" data-component="video">
                  <div class="">
                    <video style="width:100%;" class="center-block" controls="" preload="metadata" name="media"><source src="http://archives.ncbs.res.in/files/original/ae8f27f265d028153a73984c50bee73b.mp4"></video>
                  </div>  
                  <div class="featured-img-caption">
                  <img src="imgs/components/small-video.svg" class="slider-caption-icon">
                    <span>The political environment in the Siddiqi family - Prabhat Patnaik</span>
                    <em>NCBS Archives</em>
                  </div>
                </span>
                </div>
                </div>

                <div class="row">
                <div class="col-md-7">
                <p>Here, the general perception is that students are growing up “apolitical”, as seen in one of the images in the image. Also hear Debakshi Mullick, a current PhD student at NCBS, for views on what happened at NCBS during the student pay hike protests in 2015. <span data-tag="7-Outside-A5" data-component="audio">Loading...</span>
                </p>

                <p>Siddiqi did change his views over the years, compared to his student days. In July 1988, Society magazine (yes) published an interview of Obaid Siddiqi (“What's India's No. 1 microbiologist doing with fruit flies?”). The image has excerpts from that interview, one of the few where he freely shares his reflections on a leftist leaning in college, and the changes he saw in himself over time.</p></div>
                <div class="col-md-offset-5">
                </div>
              </div>

                <div class="row">
                <div class="col-md-4">

                <p>To engage with the outside world is, in a way, a process of introspection, about one’s professional growth, one's role as a member of the society, and the connections in between. In the last session of his 2003 oral history interview, Siddiqi shared his views on value questions in science:</p>

                <p>“Well, value questions would always remain in the history [of science], they are the same questions. There are so many kinds of questions – one is the problem of spreading scientific attitude. This was assumed in early years in the Nehru era, the idea was that scientific attitude is a good thing and it will run up science against superstition. That was the accepted policy. Now that seems to have gone and now people have the idea that scientific method will not be the method for changing [attitude to superstitions]. So that question remains. The other value questions – that in science itself – do you have a right to pursue science for science [sake] or is [science] only a means of doing something for the good of others? That is also a value question – [particularly for] science in a poor country....</p></div>

                <div class="col-md-offset-1 col-md-4">
                <span data-tag="7-Outside-PS2" data-component="slide">Loading...</span></div>
                </div>
                <div class="row">
                <div class="col-md-7">
                <p>Human rights is a very strong value question. These questions are seen as trivial and they don’t think too much about this. But on these questions that scientists should speak out because scientists are to a large extent being supported by the government and government money. Scientists have become very timid. And in public they don’t express themselves on government policy. Now that is a value question. Scientists should be able to express their views on social, political [issues]. I think those are much more important things.”</p>
                </div>
                

            </div>
          </div>
        

